<div class="page-wrapper">
  <div class="page-content">
    <ngx-spinner bdOpacity=0.9 bdColor="rgba(0,147,255,0.09)" size="medium" color="#0a609eeb" type="square-spin" [fullScreen]="true">
      <p style="color: #0a609eeb"> Loading... </p>
    </ngx-spinner>
    <div class="row">
      <div class="col-lg-6">
          <ul class="list-inline">
              <li class="list-inline-item">
                  <!-- <h5 class="mt-0 p-l-5">Add New payGroup</h5> -->
                  <h5 class="mt-0 p-l-5">{{header}}</h5>
              </li>
          </ul>
      </div>
      <div class="col-lg-6 text-right">
          <div class="text-right">
              <ul class="list-inline">

                  <li class="list-inline-item"><button type="button" class="btn btn-primary" (click)="savebutton()">     <i class="mdi mdi-content-save  m-r-xs"></i> Save
                      </button></li>
                 
                  <li class="list-inline-item">
                      <button class="btn btn-sm btn-default" tooltip="Close" (click)="confirmExit()" tooltip-placement="bottom" data-original-title="" title="">
                          <i class="mdi mdi-close font-size-md"></i>
                      </button>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <br>

    <div class="wrapper-lg cell" style="height:100%;">
      <div id="overlay">
        <div class="w-100 d-flex justify-content-center align-items-center">
          <div class="spinner"></div>
        </div>
      </div>

      <div class="content m-b report-content">
        <form [formGroup]="paygroupForm">
          <div class="row" style="border-radius: 10px;padding: 15px;">
            <div class="col-12 col-md-12 col-sm-12">
              <div class="clearfix">
                <div class="row" id="accordionParent">
                  <div class="card bg-shadow border mx-3 mb-2 w-100">
                    <div id="pgOne" class="card-header p-0" data-toggle="collapse" data-target="#PgDetails"
                      aria-expanded="false" aria-controls="PgDetail">
                      <h5 class="my-0 pt-3 pl-3">
                        <button class="btn p-0" type="button">
                          <p class="card-header-title"> Paygroup Details </p>
                        </button>
                      </h5>
                    </div>
                    <div id="PgDetails" class="collapse show" aria-labelledby="pgOne" data-parent="#accordionParent">
                      <div class="card-body form-row">
                        <div class="form-group form-group-vertical col-lg-4 col-md-4 col-sm-12 col-xs-12" *ngIf="BusinessType == 3">
                          <label class="form-label"> Client <span class="required">*</span> </label>
                          <ng-select [items]="clientList" placeholder="Select Client" formControlName="ClientId" 
                          [clearable]="false" bindLabel="Name" bindValue="Id" [ngClass]="{ 'ng-touched': submitted && f.ClientId.invalid }">
                          </ng-select>
                          <div *ngIf="submitted && f.ClientId.invalid" class="help-block">
                              <div *ngIf="f.ClientId.errors.required">Client is required</div>
                          </div>
                        </div>
                        <div class="form-group form-group-vertical col-lg-4 col-md-4 col-sm-12 col-xs-12">
                          <label class="form-label"> Code <span class="required">*</span>
                            <span class="form__length"> {{ codeInput.value?.length }}/20</span>
                          </label>
                          <input type="text" placeholder="Code" class="form-control" formControlName="Code" 
                          [ngClass]="{'is-invalid': submitted && f.Code.errors}"  maxlength="20"
                          onkeypress="return /[a-zA-Z0-9 \s]/i.test(event.key)" autocomplete="off" #codeInput>
                          <div *ngIf="submitted && f.Code.errors" class="invalid-feedback">
                            <div *ngIf="f.Code.errors.required">Code is requried</div>
                          </div>
                        </div>
                        <div class="form-group form-group-vertical col-lg-4 col-md-4 col-sm-12 col-xs-12">
                          <label class="form-label"> Name <span class="required">*</span> </label>
                          <input type="text" placeholder="Name" class="form-control" formControlName="Name" [ngClass]="{'is-invalid': submitted && f.Name.errors}">
                          <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                            <div *ngIf="f.Name.errors.required">Name is requried</div>
                          </div>
                        </div>
                        <div class="form-group form-group-vertical col-xs-12 col-md-4 col-lg-4 col-sm-12">
                          <label class="form-label">Salary Breakup Type <span class="required"> * </span></label>
                          <ng-select [items]="SalaryTypes" placeholder="Choose ..." formControlName="SalaryBreakUpType" 
                          [ngClass]="{ 'ng-touched': submitted && f.SalaryBreakUpType.invalid }" 
                          bindLabel="name" bindValue="id" [clearable]="false">
                          </ng-select>
                          <div *ngIf="submitted && f.SalaryBreakUpType.invalid" class="help-block">
                              <div *ngIf="f.SalaryBreakUpType.errors.required">Salary BreakUp Type is required</div>
                          </div>
                        </div>
                        <div class="form-group form-group-vertical col-xs-12 col-md-4 col-lg-4 col-sm-12">
                          <label class="form-label"> Ruleset </label>
                          <ng-select [items]="lstRuleSet" placeholder="Choose ..." formControlName="RuleSetId" 
                          [ngClass]="{ 'ng-touched': submitted && f.RuleSetId.invalid }" 
                          bindLabel="Name" bindValue="Id" [clearable]="false">
                          </ng-select>
                        </div>
                        <div class="form-group form-group-vertical col-md-8 col-xs-12 col-sm-12">
                          <label class="form-label"> Description </label>
                          <textarea class="form-control" rows="2" spellcheck="false" id="description"
                            formControlName="Description"></textarea>          
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="form-group form-group-vertical col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12">
                    <div class="row" style="float: right;">
                      <div class="col-lg-6 col-6 col-md-6 col-sm-6 col-xs-6 col-xxs-6" style="padding-left: 10px !important;" >
                        <label class="form-label">Status</label>
                      </div>
                      <div class="col-lg-6 col-6 col-md-6 col-sm-6 col-xs-6 col-xxs-6" style="padding:0px !important;">
                        <label class="el-switch el-switch-green">
                          <input type="checkbox" formControlName="Status" checked enabled />
                            <span class="el-switch-style"></span>
                        </label>
                      </div>
                    </div> 
                  </div>-->
                  <!-- <div class="form-group form-group-vertical col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <label class="form-label"> Salary Breakup Type <span class="required">*</span> </label>
                    <input type="text" placeholder="Code" class="form-control" formControlName="SalaryBreakUpType" [ngClass]="{'is-invalid': submitted && f.Code.errors}">
                    <div *ngIf="submitted && f.Code.errors" class="invalid-feedback">
                      <div *ngIf="f.Code.errors.required">Code is requried</div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row tablerow mb-2 pl-3">
          <div class="col-md-6">
            <h6 class="m-b-md">Applicable Products</h6>
          </div>
          <div class="col-md-6">
            <div class="float-right d-flex justify-content-between">
              <div class="btn-group m-r-xs">
                <button class="btn upgrade-btn btn-sm m-r-sm " (click)="select_product()">
                  <i class="mdi mdi-plus m-r-xs" style="border-radius: 3px;"></i>
                  Select Product &nbsp;
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row tablerow" style="padding: 0px 15px;">
          <div class="col-md-12 col-sm-12">
            <angular-slickgrid gridId="grid1" [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions" gridHeight="600"
            [dataset]="dataset" gridWidth="100%" (onAngularGridCreated)="angularGridReady($event)" (sgOnClick)="onCellClicked($event.detail.eventData, $event.detail.args)">
            </angular-slickgrid>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
