.accordion {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.badge-soft-warning {
    color: #f8f8f8;
    background-color: #ffcc1b;
}

.badge-soft-danger {
    color: #e63757;
    background-color: #fad7dd;
}

.badge-soft-success {
    color: #00d97e;
    background-color: #ccf7e5;
}

.badge {
    vertical-align: middle;
}