.text-big {
    color: #000000 !important;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
}

.text-black {
    color: #000000 !important;
}

.text-small {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #737373;
}

#approveTimesheetBtn {
    color: #fff !important;
    background-color: #42C178 !important;
    border-color: #42C178 !important;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
}

#rejectTimesheetBtn {
    color: #FFFFFF !important;
    background-color: #FF7062 !important;
    border-color: #FF7062 !important;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
}

#cancelTimesheetBtn {
    border: 0 !important;
    color: #BABABA !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px;
    text-align: center;
}

.drag-drop-container {
    padding: 15%;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px dashed #E9E9E9;
    border-radius: 4px;
}
  
.drag-drop-message {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 14px;
    color: #949494 !important;
    display: flex;
}

.action-btn {
    background: #146BA2;
    border-radius: 4px;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 14px;
    font-family: Roboto, sans-serif;
    margin-right: 3%;
    color: #fff !important;
}

.drag-drop-message a {
    text-decoration: underline !important;
    background-color: #FFFFFF !important;
    color: #146BA2 !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    border: 0 !important;
    box-shadow: none !important;
}

.drag-drop-message a:focus {
    box-shadow: none !important;
    outline: none;
    border: 0 !important;
}

.simple-label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 15px;
    color: #737373 !important;
}

.fileItem{
  overflow:hidden;
  margin:1rem;
  text-overflow: ellipsis;
  border-radius: 4px;
  background: var(--white, #FFF);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
}
  
.fileItemText{
  text-align:center;
  margin-top:10px;
  height: 40px;
}

.icon-props {
    color: #949494 !important;
    font-size: 24px;
}