.table-height {
  display: block;
  overflow: auto;
  width: 100%;
  height: 500px;
}

.fixed-table-header tr th{
  background-color: #FFFF;
  color: #333333 !important;
  font-size: 13px  !important;
  font-weight: 600 !important;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  border: 0 !important;
  text-transform: uppercase;
}

.fixed-table-body tr {
  border: 1px solid #EBEBEB;
}

.fixed-table-body tr td {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 15px;
  letter-spacing: 0em;
  padding-top: 1.3rem!important;
  width: inherit;
  text-align: center;
  border: 0 !important;
}

