<div style="display: block;" class="modal fade show animated fadeIn">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="padding: 15px !important;">
        <div class="col-xs-11" style="margin-top: -5px; margin-bottom: -5px;">
          <small class="header-pretitle"><b>NAPS Onboarding</b></small>
          <h6 class="modal-title subheader_h6" id="popup_release_AL"> ---
          </h6>
        </div>
        <div class="modal-close" (click)="modal_dismiss('Modal Closed')" style="margin-top: 5px;"><span
            class="mdi mdi-close pull-left"></span>
        </div>
      </div>
      <div class="modal-body">

        <div class="d-flex align-items-center" *ngIf="spinner"
        style=" margin: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
        <strong class="text-center"> Please wait... &nbsp;&nbsp;&nbsp;</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
      </div>

      <br />

        <form [formGroup]="wizardForm" *ngIf="!spinner">
          <div class="row">

            <div class="form-group form-group-vertical col-xs-12  col-sm-6">
              <label class="form-label">Client Name <span class="required">*</span>
              </label>
              <ng-select [items]="LstClient" placeholder="-- Select Client --" formControlName="ClientId"
                [ngClass]="{'ng-touched': submitted && g.ClientId.errors }" bindLabel="Name" bindValue="Id" (change)="onChangeClient($event)">
              </ng-select>
              <div *ngIf="submitted && g.ClientId.invalid" class="help-block">
                <div *ngIf="g.ClientId.errors.required">Client Name is required
                </div>
              </div>
            </div>

            <div class="form-group form-group-vertical col-xs-12  col-sm-6">
              <label class="form-label">Client Contract Name <span class="required">*</span>
              </label>
              <ng-select [items]="LstClientContract" placeholder="-- Select Client Contract --"
                formControlName="ClientContractId"
                [ngClass]="{'ng-touched': submitted && g.ClientContractId.errors }" bindLabel="Name" bindValue="Id">
              </ng-select>
              <div *ngIf="submitted && g.ClientContractId.invalid" class="help-block">
                <div *ngIf="g.ClientContractId.errors.required">Client Contract Name is required
                </div>
              </div>
            </div>

            <div class="form-group form-group-vertical col-xs-12  col-sm-6">
              <label class="form-label">Client Contact Name <span class="required">*</span>
              </label>
              <ng-select [items]="LstClientContact" placeholder="-- Select Client Contact --"
                formControlName="ClientContactId" [ngClass]="{'ng-touched': submitted && g.ClientContactId.errors }"
                bindLabel="Name" bindValue="Id">
              </ng-select>
              <div *ngIf="submitted && g.ClientContactId.invalid" class="help-block">
                <div *ngIf="g.ClientContactId.errors.required">Client Contact Name is required
                </div>
              </div>
            </div>

          </div>
        </form>

        <br />

        <div class="row" *ngIf="hasFailedInput">
          <div class="col-lg-12 text-center">
            <ngb-alert [dismissible]="false">
              <strong>{{failedInputErrorMessage}}</strong>
            </ngb-alert>
          </div>
        </div>
        
        <br />

        <div class="row" *ngIf="!spinner">
          <div class="col-md-12 text-right">
            <button class="btn btn-primary" (click)="doConfirmClient()" 
              style="background: #146BA2 !important;margin-top: 10px;margin-right: 10px;"> <i
                class="mdi mdi-shape-square-rounded-plus"></i>&nbsp; &nbsp; Confirm &nbsp; &nbsp; <span
                *ngIf="smallspinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
              </span>
            </button>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>