node_modules
dist
node_modules.zip
.vscode/launch.json
_0
_1
_3
_2
package_working.josn
package-lock_dup.josn
package-lock_dup1.josn
package_working.json
package-lock_dup1.json
package-lock_dup.json

package.json
package-lock.json


*.config
*.sqlite
.scannerwork
.VSCodeCounter/
