#Shift_WeekOff_Popup {
  font-family: Roboto, sans-serif;
}

.header-modal-title {
  font-family: Roboto;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 23px;
  text-align: left;
}

.custom-padding {
  padding-top: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.emp-regularize-table {
  width: 100%;
  background-color: #ffff;
  text-align: left;
  font-size: 13px !important;
  border: 0 !important;
  font-family: Roboto;
  font-weight: 500;
  line-height: 15px;
  color: #1c1e24;
}

.emp-regularize-table-header tr th {
  /* width: 20%; */
  background-color: #ffff;
  text-transform: capitalize;
  font-weight: 600 !important;
  line-height: 13px;
  border: 0 !important;
  width: 20%;
}
.emp-regularize-table-body {
  /* box-shadow: 0px 2px 6px 0px #00000026; */
  background: #f6f6f6;
}

.emp-regularize-table-body tr {
  /* border: 1px solid #ebebeb; */
  border: 0 !important;
}

.emp-regularize-table-body tr td {
  width: inherit;
  vertical-align: middle;
  font-weight: 400 !important;
  padding-top: 0.75rem;
  border: 0 !important;
  color: #333333;
}

.mt-above {
  margin-top: -0.1rem;
}

.action-btn-delete {
  color: #ff7062;
  font-size: 17px;
}

.no-border {
  border: 0 !important;
}

.form-text {
  font-size: 13px;
  font-weight: 600;
  color: #333333;
}

.text-note {
  font-size: 13px;
  font-weight: 400;
}

.approved-status {
  text-align: center;
  background: #e2feee;
  border-radius: 4px;
  color: #2da05e !important;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.rejected-status {
  text-align: center;
  background: #ffe4e1;
  border-radius: 4px;
  color: #e74c3c !important;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.pending-color {
  color: #ee9a15 !important;
}
.approved-color {
  color: #2da05e !important;
}

.rejected-color {
  color: #e74c3c !important;
}

.label-title {
  font-family: Roboto;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 15px;
  text-align: left;
  color: #7b8193 !important;
}

.label-value {
  font-family: Roboto;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 16px;
  text-align: left;
  color: #1c1e24 !important;
}

input.custom-style {
  border: 1px solid #e9e9e9 !important;
  border-radius: 4px !important;
  padding: 0.3rem;
}

.ng-select.custom-style .ng-select-container {
  border: 1px solid #e9e9e9 !important;
  border-radius: 4px !important;
}

.btn-action {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: -1rem;
}

.btn-cancel {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #808080 !important;
}

.title_1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #333333;
}

.title_2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  color: #333333;
}

.modal .modal-dialog-aside {
  /* // width: 350px;
      // max-width: 80%; */
  height: 100%;
  margin: 0;
  transform: translate(0);
  transition: transform 0.2s;
}

.modal .modal-dialog-aside .modal-content {
  height: inherit;
  border: 0;
  border-radius: 0;
}

.modal .modal-dialog-aside .modal-content .modal-body {
  overflow-y: auto;
  max-height: 100% !important;
}

.modal_header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
  margin-top: 15px;
}

.modal.fixed-left .modal-dialog-aside {
  margin-left: auto;
  transform: translateX(100%);
}

.modal.fixed-right .modal-dialog-aside {
  margin-right: auto;
  transform: translateX(-100%);
}

.modal.show .modal-dialog-aside {
  transform: translateX(0);
}


