fieldset.group-by {
    margin-top: 8px;
    border: 3px solid #dee2e6;
    padding: 8px;
    border-radius: 4px;
    background-color: transparent;
    width: 100%;
}

fieldset.group-by legend {
    padding-left: 2px;
    padding-right: 2px;
    width: auto;
    font-size: 14px;
    margin-bottom: 0;
}