.headerTitle {
  font-size: 18px;
  font-weight: 500;
  color: #1c273c;
  line-height: 21px;
  margin-bottom: 3px;
}

.tableFixHead {
  overflow: auto;
  height: 500px;
  max-height: 500px;
}

.emp-specific-table-header tr th {
  background-color: #ffff;
  color: #1c1e24 !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  border: 0 !important;
}

.emp-specific-table-body tr {
  border: 1px solid #ebebeb;
}

.emp-specific-table-body tr td {
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #1c1e24 !important;
  border: 0 !important;
}

.emp-specific-table-body tr td > input {
  font-size: 13px !important;
  font-weight: 400 !important;
  text-align: center;
  color: #1c1e24 !important;
  border: 0 !important;
}
