.text-bold {
  font-weight: 600 !important;
}

::ng-deep .ant-card-head {
  padding: 0;
  
}

::ng-deep .ant-card-body {
  background-color: #F5F5F5 !important;
}

::ng-deep .ant-card-head-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.deduction-table-header tr th{
  background-color: #FFFF;
  color: #333333 !important;
  /* width:12%; */
  font-size: 11px  !important;
  font-weight: 500 !important;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  border: 0 !important;
}

.deduction-table-body tr {
  border: 1px solid #EBEBEB;
}

.deduction-table-body tr td {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 15px;
  letter-spacing: 0em;
  padding-top: 1.3rem!important;
  width: inherit;
  text-align: center;
  border: 0 !important;
}

.suspendLabel {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.titleLabel {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.d-block {
  display: block !important;
}
.deductionCalendarDiv {
  color: #000000;
  margin-top: -25px !important;
  margin-left: -1%;
  padding: 0;
}
.deductionCalendarTitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 20px;
}

.inv-feedback {
  /* display: none; */
  width: 100%;
  margin-top: 0.25rem;
  color: #dc3545;
  font-weight: 500 !important;
}

input[type="checkbox"] {
  width: 16px;
  /*Desired width*/
  height: 16px;
  /*Desired height*/
}

/* thead.tbl-freezhead {
    display: table !important;
    width: 100% !important;
    
  }

  tbody.tbl-scrollbody {
    display: block !important;
   
    max-height: 200px !important;
    
    overflow-y: auto !important;
    
  } */
/* .table-sticky>thead>tr>th {
  z-index: 99;
}

.table-sticky>thead>tr>th,
.table-sticky>thead>tr>td {
  /* background: #009688;
      color: #fff; 
  top: 0px;
  position: sticky;
} */ 

.table-height {
  /* height: 320px; */
  display: block;
  overflow: auto;
  width: 100%;
}

.Approved {
  color: #00d97e;
}

.Rejected {
  color: #e63757;
}

.Normal {
  color: #dd9f04;
}

.HideDisable {
  pointer-events: none;
  opacity: 0.4;
}

.tble-row-height td {
  height: 30px !important;
  min-height: 30px !important;
  max-height: 30px !important;
  padding: 0 10px !important;
}

.ng-clear-wrapper {
  display: none !important;
}

.ng-clear {
  display: none !important;
}

.ng-select .ng-select-container {
  border: 0px solid #ccc !important;
}

/* .table thead th {
  background-color: #f9fbfd !important;
  text-transform: none !important;
  font-weight: 490 !important;
  letter-spacing: -0.02em !important;
  color: #3770c3 !important;
  border-bottom-width: 1px !important;
} */

.custom-control-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #000000;
}

.suspend-popup-title {
  color: #000000;
  text-transform: capitalize !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.iconBtn i {
  color: #146BA2;
  font-weight: 500;
  font-size: 23px;
}