<div class="page-wrapper">
  <div class="page-content">
    <app-loading-screen></app-loading-screen>
    <div class="content m-b report-content">

      <div class="row">

        <div class="form-holder">
          <div class="form-content">
            <div class="form-items">


              <!-- ***************** Reset Password Section *************** -->
              <div *ngIf="isafterPwdChanged">
                <h5 class="text-center">Change Password</h5>

                <!-- <p class="text-center">Enter your new password for your account.</p> -->

                <br>
                <span style="color: gray;"> Note : Password must contain at least 8 characters, One uppercase letter, One lowercase letter, One digit and One special character
                </span>

                <form [formGroup]="resetPasswordForm" style="margin-top: 10px;">

                  <div class="form-group">
                    <label class="form-label ">Old Password</label>
                    <input type="password" formControlName="oldPassword" placeholder="Old Password" class="form-control"
                      [ngClass]="{ 'is-invalid': Resetsubmitted && g.oldPassword.errors }" />
                    <div *ngIf="Resetsubmitted && g.oldPassword.errors" class="invalid-feedback">
                      <div *ngIf="g.oldPassword.errors.required">Old Password is required</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label ">New Password</label>
                    <input type="password" formControlName="password" placeholder="New Password" class="form-control"
                      [ngClass]="{ 'is-invalid': Resetsubmitted && g.password.errors }" />
                    <div *ngIf="Resetsubmitted && g.password.errors" class="invalid-feedback">
                      <div *ngIf="g.password.errors.required">Password is required</div>
                      <div *ngIf="g.password.errors.invalidPassword">Password does not adhere to the above mentioned rules.</div>
                      <!-- <div *ngIf="g.password.errors.minlength">Password must be at least 6 characters</div> -->
                    </div>
                    <!-- <div class="invalid-feedback"
                      *ngIf="g.password.errors.invalidPassword || g.password.errors.minlength">
                      <span> Password must contain at least: </span>
                      <ul>
                        <li> 8 characters</li>
                        <li> One uppercase letter </li>
                        <li> One lowercase letter </li>
                        <li> One digit </li>
                        <li> One special character </li>
                      </ul>
                    </div> -->
                  </div>

                  <div class="form-group ">
                    <label class="form-label ">Confirm New Password</label>
                    <input type="password" formControlName="confirmPassword" placeholder="Confirm New Password"
                      class="form-control" [ngClass]="{ 'is-invalid': Resetsubmitted && g.confirmPassword.errors }" />
                    <div *ngIf="Resetsubmitted && g.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="g.confirmPassword.errors.required">Confirm Password is required</div>
                      <div *ngIf="g.confirmPassword.errors.mustMatch">Please make sure your passwords match</div>
                    </div>
                  </div>
                  <div class="form-button">
                    <button id="submit" type="submit" class="ibtn" (click)="saveChanges()">Save changes
                      &nbsp; &nbsp; <span *ngIf="SpinnerShouldhide" class="spinner-border spinner-border-sm"
                        role="status" aria-hidden="true"></span>
                    </button>
                  </div>
                </form>

              </div>

              <div *ngIf="!isafterPwdChanged">
                <div class="logo">
                  <img class="logo-size" src="assets/Images/checked.svg" alt="" style="width: 4rem;
                  text-align: center;
                  display: block;
                  margin: 0 auto;
                  padding-bottom: 29px;">
                </div>

                <h5 class="text-center">Password Changed</h5>
                <br>
                <p class="text-center">Your password has been successfully changed.</p>


                <div class="form-button" style="text-align: center;">
                  <button id="submit" type="submit" class="ibtn" (click)="backtoLogin()"> <i class="mdi mdi-logout"></i>
                    Back to Login
                    &nbsp; &nbsp; <span *ngIf="SpinnerShouldhide" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
                  </button>
                  <button id="submit" type="submit" class="ibtn" (click)="backtoHome()"> <i class="mdi mdi-home"></i>
                    Back to Home
                    &nbsp; &nbsp; <span *ngIf="SpinnerShouldhide" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
                  </button>
                </div>

              </div>



            </div>

          </div>
        </div>
      </div>



    </div>
  </div>
</div>