.font-h4 {
    font-weight: 600!important;
    font-size: 14px;
}

.list-group_shadow {
    // box-shadow: 0 5px 21px rgb(87 86 86 86/ 15%);
    border: none;
    border-radius: 5px;
}

.iframe-container {
    overflow: hidden;
    // padding-top: 45.25%;
    position: relative;
    // border: 1px solid #d3d3d3 !important;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 1rem;
}

.iframe-container .mdi-cached {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    max-height: 14px;
}

.modal-body {
    overflow: hidden !important;
    background-color: #fff;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
}

@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 1000px !important;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px !important;
        margin: 1.55rem auto;
    }
}

.chkbox_custom {
    font-size: 14px;
}

.norecord {
    text-align: center;
    display: block;
    margin-top: 2rem;
}

.iframe-container {
    overflow: hidden;
    padding-top: 45.25%;
    position: relative;
    // border: 1px solid #d3d3d3 !important;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 1rem;
}

.iframe-container .mdi-cached {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    max-height: 14px;
}