.simple-table thead {
    font-weight: 600;
    font-size: 13px;
    text-align: center;
}

.simple-table thead th {
    padding: 0.5rem;
}

.simple-table td {
    border: 1px solid #dee2e6;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem;
}

.simple-table .btn {
    font-size: 12px;
}