.breadcrumb {
    background-color: #e4eef3;
    padding-left: 1em;
    color: #4d5669;
    align-content: space-evenly;
    min-height: 20px;
    max-height: 16px;
    border-bottom-style: none;
    border-bottom-width: thin;
    border-bottom-color: papayawhip;
    margin-bottom: 0px;
    position: absolute;
    z-index: 100;
    width: 98%;
    margin-left: 30px;
}

.pgheader {
    background-color: aliceblue;
    min-height: 3em;
    max-height: 3em;
    padding-left: 2em;
    align-content: center;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #e1e7ec;
    position: absolute;
    z-index: 100;
    width: 98%;
    margin-left: 30px;
}