ul {
    list-style-type: circle;
  }
  ul:nth-of-type(1) {
    list-style-type: disc;
  }
  .content_alertScreen {
    margin-top: -15px;
    margin-bottom: 20px;
    padding-left: 3rem;
    padding-top: 0rem;
    background: #f8e8e8;
    color: red;
    box-shadow: none;
  }
  h6 {
      color: black;
  }
  
  .chip {
    padding: 0 12px;
    background-color: #f8c8c8;
    border-radius: 100px;
    display: inline-flex;
    margin: 2px;
    color: rgb(0 0 0 / 87%);
    align-items: center;
    height: 24px;
    font-size: 12px;
    cursor: pointer;
    border: none;
}


  