.waittimemsg {
    text-align: left;
    margin-top: 19px;
    font-size: 12px;
    font-weight: 600;
}

/* OTP Verification CSS */
 .otp_input input{
    display: inline-block;
    width: 44px;
    height: 39px;
    margin: 6px;
}


.hed {
    font-size: 14px;
    color: black;
    font-weight: 500;
}
