@media (min-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 875px;
    }
    }
    .showmore {
        font-size: 10px;
          font-weight: 600;
          text-align: center;
          display: block;
          border: 1px solid #c0d7ef;
          padding: 3px;
          border-radius: 6px;
      }
      h6 {
        font-size: .625rem;
      }