.fbp-table { 
  overflow: auto;
  /* height: 500px; */
  max-height: 500px;
  background: transparent !important;
}

.fbp-table-header tr th{
  color: #1C1E24 !important;
  font-size: 13px  !important;
  font-weight: 600 !important;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  border: 0 !important;
}
.fbp-table-body {
  background-color: #FFFF;
}

.fbp-table-body tr {
  border: 0 !important;
}

.fbp-table-body tr td {
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #1C1E24 !important;
  border: 0 !important;
}

.fbp-table-body tr td > input{
  font-size: 13px !important;
  font-weight: 400 !important;
  text-align: center;
  color: #1C1E24 !important;
  border: 0 !important;
}

.input-currency {
  width: 100%;
  margin: 0;
}

.input-currency > div.input-group-prepend > span.input-group-text {
  background: transparent;
  border-top: 1px solid #7b7272 !important;
  border-left: 1px solid #7b7272 !important;
  border-bottom: 1px solid #7b7272 !important;
  border-right: 0 !important;
  padding-right: 0% !important;
  font-size: 13px;
}

.input-currency > input {
  border: 1px solid #7b7272 !important;
  font-size: 12px !important;
  padding-left: 3%;
  padding-right: 5%;
  border-left: 0 !important;
  /* text-align: left; */
}

.highlightNetPay {
  color: rgb(0,123,255) !important;
}

.highlightRow {
  border-color: #c2d6ed;
  border-width: 1px;
  box-shadow: 0 5px 5px -3px #c2d6ed, 0 8px 10px 1px #c2d6ed, 0 3px 14px 2px #c2d6ed;
  /* box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 15%); */
}

.container-parent {
  width: 100%;
  display: flex !important;
  align-items: stretch !important;
  justify-content: space-around;
}

.col-child {
  width: 100%;
  min-height: 100%;
}

.background-white {
  background-color: white;
}

.info {
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #707070;
}

.header-info {
  font-size: 12px;
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  color:#00000080;
  padding-left: 5px;
}

.header-info-bold {
  color: #333333;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
}

.text-end {
  text-align: right !important;
}

.pay-structure-wrap {
  border-left: 1px solid #EAEEF2;
  min-height: 100%;
  padding: 25px 30px;
}

.pay-structure-wrap h4 {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.pay-structure-wrap table {
  border: 1px solid #E3E3E3;
}

.pay-structure-wrap table th, .pay-structure-wrap table td {
  padding: 8px 15px;
}

.pay-structure-wrap table th {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pay-structure-wrap table td {
  font-size: 13px;
  color: #5d5d5d;
  padding-bottom: 0;
}

.pay-structure-wrap table thead tr {
  border-bottom: 1px solid #e3e3e3 !important;
  border-width: 1px !important;
}

.pay-structure-wrap table thead th {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.pay-structure-wrap table .group-title td {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  border-top: 1px solid #E3E3E3;
  padding-top: 13px;
  padding-bottom: 5px;
}

.pay-structure-wrap table tbody tr.highlightNetPay td {
  border-top: 1px solid #E3E3E3;
  font-size: 16px;
  font-weight: 500;
  color: #146CA3;
  padding: 15px 15px;
}

hr {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1) !important;
}