.btn.btn-sm {
    padding: 8px 11px;
}

.flex-column {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
}

.bg-white {
    background-color: #fff;
    color: #324061;
}

.b-l,
.reports-sub-header .filter-query-option {
    border-left: 1px solid #e6eaf2;
}

.p-15 {
    padding: 8px;
}

.tablerow {
    margin-right: -22px;
    padding-left: 10px;
    /* padding-right: 10px; */
    padding-bottom: 5px;
}

h4 {
    font-size: 18px;
    color: #17274d;
}

.help.counter {
    float: right;
    margin-left: 0.5em;
}

.help {
    display: block;
    font-size: .75rem;
    margin-top: 0.25rem;
}

.is-invisible {
    visibility: hidden;
}

.is-invisible1 {
    visibility: visible;
}


/* // important properties for evrry components  */

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    font-weight: 500 !important;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #a9a9a9;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a9a9a9;
}

 ::placeholder {
    color: #a9a9a9;
}