
.employee_header {
    margin-top: -24px;
    background: #337ab7;
    margin-left: -25px;
    margin-right: -25px;
    padding: 10px;
  }
  .table td {
    padding: 5px 10px !important;
  
    vertical-align: top;
  }
  
  .table th {
    padding: 9px 10px !important;
  
    vertical-align: top;
  }
  
  .btn {
    font-weight: 600 !important;
    font-size: 13px !important;
  }

  .ff {
    font-family: Open Sans, Segoe UI, Roboto, Helvetica Neue, sans-serif !important;
    /* // line-height: 1.2 !important;
    // display: flex;
    // color: #000;
    // height: auto !important;
    // width: auto !important; */
    font-feature-settings: "tnum","tnum";
    font-variant: tabular-nums;
  }
  
  ::ng-deep  .ant-drawer-wrapper-body {
      overflow-x: hidden; 
  }