<div class="form-body without-side">
    <div class="website-logo">
        <a href="javascript:;">
          <div class="logo" *ngIf="!isAllenDigital">
            <img class="logo-size" src="assets/Images/clientlogo/appmainlogo.png" alt="">
        </div>
        <div class="logo" *ngIf="isAllenDigital">
          <img class="logo-size" src="assets/Images/clientlogo/AllenLogo.png" alt="">
      </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder" style="float: left;">
                <img src="assets/Images/20633.jpg" alt="">
            </div>
        </div>
        <div class="form-holder">
            <div class="form-content">

                <div class="form-items">

                    <!-- <form [formGroup]="aFormGroup">  -->

                    <!-- </form> -->



                    <!-- ******************** Request OTP using Username and Mobile No ************************-->
                    <div *ngIf="isHiddenForgot">
                        <h5 class="text-center">Forgot Password</h5>
                        <br>
                        <p class="text-center">Enter your User Name to reset your password</p>

                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="requestOTP()">


                            <div class="form-group">
                                <input type="text" formControlName="userName" class="form-control" autocomplete="off" placeholder="User Name" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                    <div *ngIf="f.userName.errors.required">User Name is required</div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 2.4rem;">
                                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (reset)="handleReset()" (success)="handleSuccess($event)" [useGlobalDomain]="false" [size]="size" [hl]="lang" [theme]="theme" [type]="type" formControlName="recaptcha">
                                </ngx-recaptcha2>
                                <div *ngIf="submitted && !captchaSuccess" class="invalid-feedback">
                                    <div *ngIf="!captchaSuccess">reCAPTCHA Verification is required</div>
                                </div>


                            </div>
                            <!-- <div class="form-group ">
                     
                        <input type="number" formControlName="MobileNo" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))" class="form-control" autocomplete="off"  placeholder="Mobile No" [ngClass]="{ 'is-invalid': submitted && f.MobileNo.errors }" />
                        <div *ngIf="submitted && f.MobileNo.errors" class="invalid-feedback">
                            <div *ngIf="f.MobileNo.errors.required">Mobile No is required</div>
                            <div *ngIf="f.MobileNo.errors.minlength">Mobile No must be at least 6 characters</div>
                        </div>
                    </div> -->
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Request OTP
                        &nbsp; &nbsp; <span *ngIf="SpinnerShouldhide"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </button>
                            </div>
                        </form>
                    </div>


                    <!-- ***************** One Time Password Section  ****************** -->
                    <div *ngIf="!isHiddenOTP">
                        <h5 class="text-center">One Time Password(OTP)</h5>
                        <br>
                        <p class="text-center">A One-Time Password (OTP) has been sent to your registered mobile/email. Kindly input it here to proceed with the reset.</p>


                        <div class="form-group">
                            <input type="text" [(ngModel)]="OTP" class="form-control" autocomplete="off" placeholder="OTP" (input)="onInput($event)" />
                        </div>
                        <div class="form-group" *ngIf="timecounter > 0">
                            <h6 class="text-center" style="color: #ec2424;font-size: 14px;">{{timeleft}}</h6>
                        </div>

                       
                        <div class="form-button" *ngIf="showVerifyButton">
                            <button id="submit" type="submit" class="ibtn" (click)="VerifyOTP()">Verify
                          &nbsp; &nbsp; <span *ngIf="SpinnerShouldhide"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          </button>
                        </div>

                    </div>

                    <!-- ***************** Reset Password Section *************** -->
                    <div *ngIf="!isHiddenResetPassword">
                        <h5 class="text-center">Reset Password</h5>
                        <br>
                        <span style="color: gray;"> Note : Password must contain at least 8 characters, One uppercase letter, One lowercase letter, One digit and One special character
                        </span>
                        <!-- <p class="text-center">Enter your new password for your account.</p> -->

                        <form [formGroup]="resetPasswordForm" style="margin-top: 10px;"> 
                          <div class="form-group">
            
                            <input type="password" formControlName="password" placeholder="New Password" class="form-control"
                              [ngClass]="{ 'is-invalid': Resetsubmitted && g.password.errors }" />
                            <div *ngIf="Resetsubmitted && g.password.errors" class="invalid-feedback">
                              <div *ngIf="g.password.errors.required">Password is required</div>
                              <div *ngIf="g.password.errors.invalidPassword">Password does not adhere to the above mentioned rules.</div>
                              <!-- <div *ngIf="g.password.errors.minlength">Password must be at least 8 characters</div> -->
                            </div>
            
                            <!-- <div class="invalid-feedback" *ngIf="g.password.errors.invalidPassword || g.password.errors.minlength">
                              <span> Password must contain at least: </span>
                              <ul>
                                <li> 8 characters</li>
                                <li> One uppercase letter </li>
                                <li> One lowercase letter </li>
                                <li> One digit </li>
                                <li> One special character </li>
                              </ul>
                            </div> -->
                          </div>
            
                          <div class="form-group ">
            
                            <input type="password" formControlName="confirmPassword" placeholder="Confirm New Password"
                              class="form-control" [ngClass]="{ 'is-invalid': Resetsubmitted && g.confirmPassword.errors }" />
                            <div *ngIf="Resetsubmitted && g.confirmPassword.errors" class="invalid-feedback">
                              <div *ngIf="g.confirmPassword.errors.required">Confirm Password is required</div>
                              <div *ngIf="g.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                          </div>
                          <div class="form-button">
                            <button id="submit" type="submit" class="ibtn" (click)="saveChanges()">Save changes
                              &nbsp; &nbsp; <span *ngIf="SpinnerShouldhide" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                            </button>
                          </div>
                        </form>
            

                    </div>


                    <a href="javascript:;" *ngIf="isHiddenForgot" style="margin-top: 10rem !important;float: right;" (click)="backtoLogin()">Go to Login</a>

                    <a href="javascript:;" *ngIf="!isHiddenOTP && timecounter == 0" style="margin-top: 9rem !important;float: left;" (click)="resendOTP()">Resend OTP &nbsp;<span *ngIf="resendSpinner"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></a>
                    <a href="javascript:;" *ngIf="!isHiddenOTP" style="margin-top: 9rem !important;float: right;" (click)="goback(1)">Go Back</a>
                    <a href="javascript:;" *ngIf="!isHiddenResetPassword" style="margin-top: 5rem !important;float: right;" (click)="goback(2)">Go Back</a>
                </div>

            </div>
        </div>
    </div>
</div>