.kt-header__topbar-user {
    padding: 0px 2px 0px 2px;
    height: 45px;
    cursor: pointer !important;
    border-radius: 4px;
    color: #fff;
    background: #0a609eeb;
    border-radius: 100%;
    margin-right: 0.9em;
}

.kt-header__topbar-user > a {
    padding: 0.8rem 1rem;
}

.kt-badge.kt-badge--unified-success {
    color: #fff !important;
}

.title {
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    color: #1C1E24 !important;
}

.subtitle {
    font-size: 13px;
    font-weight: 400;
    line-height: 12px;
    color: #7B8193 !important;
    margin-top: 0.5em;
}

.resignation-label {
    color: #7B8193 !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 14px;
    text-align: left;
}

.resignation-text-bold {
    color: #1C1E24 !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    line-height: 14px;
    text-align: left;
}

.resignation-text {
    color: #1C1E24 !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 14px;
    text-align: left;
}

.resignation-success-text {
    background-color: #E2FEEE !important;
    color: #2DA05E !important;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase !important;
    line-height: 11px;
    width: 77px;
    padding: 5px 10px;
    text-align: center;
}

#submitApproveResignBtn {
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.resignation-revoked-text {
    background-color: #EFC8FF !important;
    color: #8E44AD !important;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase !important;
    line-height: 11px;
    width: 77px;
    padding: 5px 10px;
    text-align: center;
}

.resignation-rejected-text {
    background-color: #FFE4E1 !important;
    color: #E74C3C !important;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase !important;
    line-height: 11px;
    width: 77px;
    padding: 5px 10px;
    text-align: center;
}

.resignation-pending-text {
    background-color: #FFE9C7 !important;
    color: #EE9A15 !important;
    font-size: 11px;
    font-weight: 600;
    line-height: 11px;
    width: 77px;
    padding: 5px 10px;
    text-align: center;

}

.downloadattachmentbtn {
  background: #1d6ca6;
    display: inline;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}