.btn-label-danger {
    background-color: rgba(88, 103, 221, 0.1);
    color: #f53636;
    cursor: pointer !important;
}

.btn-label-success {
    background-color: rgba(88, 103, 221, 0.1);
    color: #0a609eeb;
    cursor: pointer !important;
}

.btn-sm {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-label-danger:hover {
    background-color: #f53636;
    color: #fff;
}

.btn-label-success:hover {
    background-color: #0a609eeb;
    color: #fff;
}

.btn-custom_preview {
    padding: 0.2rem 1rem;
    font-size: 0.75em;
    line-height: 1.5;
    border-radius: 0.2rem;
}