<div class="page-wrapper" style="margin-top: 10px;">
  <div class="page-content">
    
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          
          <div class="bg_gradiant">  
            <div class="row">
              <div class="col-12" style="text-align: right;padding-right: 24px;
              padding-top: 10px;">
                <span class="style__discount-percent___3UChw" style="border: 1px dashed #fff;
                        background-color: rgb(255 255 255);"><span> CODE : DIGI01HRMS </span></span>
              </div>
            </div>
          <div class="row p-10">
            <div class="col-12 text-center">
              <h1 class="display-heading" style="font-size: 14px;text-transform: uppercase;
              font-weight: 900 !important;">Getting a loan has never been so easy</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="feature-check" style="padding-left: 68px;padding-top: 2rem;">
                <div class="check-circle"><img
                    src="https://assets.website-files.com/603d9bbe3c251e03e3d8a0df/603d9bbe3c251e98dad8a102_check-line%201.svg"
                    loading="lazy" alt=""  style="width: 15px;"></div>
                <div class="text-block">100% Online Process</div>
              </div>
              <div class="feature-check" style="padding-left: 68px;padding-top: 4px;">
                <div class="check-circle"><img
                    src="https://assets.website-files.com/603d9bbe3c251e03e3d8a0df/603d9bbe3c251e98dad8a102_check-line%201.svg"
                    loading="lazy" alt="" style="width: 15px;"></div>
                <div class="text-block">Seamless Redressal</div>
              </div>
            </div>
            <div class="col-6">
              <div ><img
                src="assets/Images/digimoney_1.jpg"
                loading="lazy"
                style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                data-w-id="343c8f8e-e8da-174f-3430-69179ce03c4c"
                srcset="assets/Images/digimoney_1.jpg 800w, assets/Images/digimoney_1.jpg 1062w"
                sizes="(max-width: 991px) 100vw, 45vw" alt="" class="hero-person" style="display: block;margin: 0 auto;width: 50%;">
                <!-- <img
                src="assets/Images/digimoney_3.webp" 
                loading="lazy"
                style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;margin-top: -28rem;
                margin-left: 7rem;
                width: 60% !important;"
                data-w-id="0e6ddccb-0253-41c2-a0d7-3a802326dd94" alt="" class="card-accent"> -->
                <!-- <a href="#"
                data-w-id="e5e3e4aa-782b-c0ee-903c-43640732af87"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                class="hero-lightbox w-inline-block w-lightbox">
                <div class="play-button-large">
                  <img
                    src="https://www.flaticon.com/svg/vstatic/svg/3342/3342829.svg?token=exp=1617599352~hmac=4ab4492dc059fa2dd90b60ba5f7568e8"
                    loading="lazy" alt="" style="width: 10%;
                    margin-top: -1rem;"></div> -->
    
              <!-- </a> -->
    
            </div>
            </div>
          </div>
         
          <!-- <div class="row p-10">
            <div class="col-6">
              <div class="feature-check" style="padding-left: 17px;">
                <div class="check-circle"><img
                    src="https://assets.website-files.com/603d9bbe3c251e03e3d8a0df/603d9bbe3c251e98dad8a102_check-line%201.svg"
                    loading="lazy" alt=""  style="width: 15px;"></div>
                <div class="text-block">100% Online Process</div>
              </div>
            </div>
            <div class="col-6">
              <div class="feature-check">
                <div class="check-circle"><img
                    src="https://assets.website-files.com/603d9bbe3c251e03e3d8a0df/603d9bbe3c251e98dad8a102_check-line%201.svg"
                    loading="lazy" alt="" style="width: 15px;"></div>
                <div class="text-block">Seamless Redressal</div>
              </div>
            </div>
          </div>
           -->
          <div class="row p-10">
            <div class="col-12">
              <div data-w-id="9b5f37d6-a145-9ab7-41db-274dbb8c59a3"
              style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
              class="detail-wrapper">
              <div class="icon-circle"><img
                  src="https://assets.website-files.com/604d8c253d18c714a435bd9c/604daa4cf59e8f92a1e4b1fb_Quill%20Pen.svg"
                  loading="lazy" alt="" style="width: 15px;"></div>
              <div class="paragraph-large">Instant Online Approval of loans for your personal financial needs</div>
            </div>
            </div>
           
          </div>
          <div class="row p-10">
            <div class="col-8">
            </div>
            <div class="col-2 text-right">
              <img src="assets/Images/DM_QR.jpg" style="width: 4rem;
              padding: 1px;margin-right: -27px;
              z-index: 1000;" class="_1AV1p">
            </div>
            <div class="col-2 text-right">
              <img src="assets/Images/digimoneyLogo.png" style="width: 4rem;
              padding: 1px;margin-left: -10px;
              z-index: 1000;" class="_1AV1p">
            </div>
          </div>
        </div>

        <div class="card-footer" style="background-color: white;"> 
       <div class="row">
            <div class="col-md-6">
             <img src="assets/Images/digimoneyLogoText.png" style="width: 100px;">
            </div>
            <div class="col-md-6 text-right">
              <a href="http://uen.io/6v9d" target="_blank" class="button-primary download w-button">Click here</a>
    
              </div>
    
          </div>
        </div>
      </div>
      </div>

     
    </div>
  

   


  </div>
</div>