
<!-- This is only a Template, It is not displyed by default -->
<ng-template #rowDetailTemplateRef let-rowDetails let-formgroup="group">
   
  <div *ngIf="rowDetails.ColumnDetailsList.length > 0" [formGroup]="formgroup">
    <div class="row">
      <div class="col-{{columnDetails.ColSpan}} form-group form-group-vertical"  *ngFor="let columnDetails of rowDetails.ColumnDetailsList">
        
        <!-- Control Element -->
        <div *ngIf = "columnDetails.ElementType === 0" >

          <!-- Text Box -->
          <div *ngIf = "columnDetails.ControlElement.InputControlType === 0">
            <label class="form-label"> {{columnDetails.ControlElement.Label}} </label>
            <input type="text" class="form-control" [formControlName]="columnDetails.ControlElement.FieldName" [placeholder]="columnDetails.ControlElement.PlaceHolder" [(ngModel)]="columnDetails.ControlElement.Value">
          </div>

          <!-- Drop Down -->
          <div *ngIf = "columnDetails.ControlElement.InputControlType === 1">
            <label class="form-label"> {{columnDetails.ControlElement.Label}} </label>
            <ng-select  [items]="columnDetails.ControlElement.DropDownList" [(ngModel)]="columnDetails.ControlElement.Value"
            [formControlName]="columnDetails.ControlElement.FieldName" 
            [loading]="!columnDetails.ControlElement.DropDownList" 
            (open)="onOpeningDropDown(columnDetails.ControlElement)"  
            [searchable]="false" [bindValue]="columnDetails.ControlElement.ValueField" 
            [bindLabel]="columnDetails.ControlElement.DisplayField"  placeholder="{{columnDetails.ControlElement.PlaceHolder}}">
            </ng-select>
          </div>

          <!-- Multi Select Drop Down -->
          <div *ngIf ="columnDetails.ControlElement.InputControlType === 2">
            <label class="form-label"> {{columnDetails.ControlElement.Label}} </label>
            <ng-select  [items]="columnDetails.ControlElement.DropDownList" [(ngModel)]="columnDetails.ControlElement.MultipleValues"
            [formControlName]="columnDetails.ControlElement.FieldName" 
            [loading]="!columnDetails.ControlElement.DropDownList"  
            (open)="onOpeningDropDown(columnDetails.ControlElement)" 
            [searchable]="false" [multiple]="true" [closeOnSelect]="false" 
            [bindValue]="columnDetails.ControlElement.ValueField" [bindLabel]="columnDetails.ControlElement.DisplayField"  
            placeholder="{{columnDetails.ControlElement.PlaceHolder}}">
              <ng-template ng-header-tmp>
                <input placeholder="Search" type="text" class="form-control" style="border: none;border-radius: 0px !important;background: white" (input)="select.filter($event.target.value)" />
              </ng-template>
            </ng-select>
          </div>

          <!-- Auto Fill Text Box -->
          <div *ngIf ="columnDetails.ControlElement.InputControlType === 3">
            <label class="form-label"> {{columnDetails.ControlElement.Label}} </label> 
            <ng-select  [items]="columnDetails.ControlElement.DropDownList" 
            [(ngModel)]="columnDetails.ControlElement.Value"
            [formControlName]="columnDetails.ControlElement.FieldName" 
            [loading]="!columnDetails.ControlElement.DropDownList"  
            (open)="onOpeningDropDown(columnDetails.ControlElement)" [searchable]="true" 
            [bindValue]="columnDetails.ControlElement.ValueField" 
            [bindLabel]="columnDetails.ControlElement.DisplayField"  
            placeholder="--{{columnDetails.ControlElement.PlaceHolder}}--">
              <ng-template ng-header-tmp>
                <input placeholder="Search" type="text" class="form-control" style="border: none;border-radius: 0px !important;background: white" (input)="select.filter($event.target.value)" />
              </ng-template>
            </ng-select>               
          </div>
          
          <!-- Text Area -->
          <div *ngIf="columnDetails.ControlElement.InputControlType === 4">
            <label class="form-label"> {{columnDetails.ControlElement.Label}} </label>
            <textarea class="form-control" [rows]="columnDetails.ControlElement.RowCount" spellcheck="false"
              [formControlName]="columnDetails.ControlElement.FieldName"
              [(ngModel)]="columnDetails.ControlElement.Value">
            </textarea> 
          </div>

           <!-- Date Picker -->
        <div *ngIf="columnDetails.ControlElement.InputControlType === 7">
          <label class="form-label">{{columnDetails.ControlElement.Label}}</label>
          <div class="form-group m-t-m5">
            <div class="input-group">
              <input type="text" #dp="bsDatepicker" class="form-control" bsDatepicker placement="bottom"
                [(ngModel)]="columnDetails.ControlElement.Value"
                [formControlName]="columnDetails.ControlElement.FieldName"
                [bsConfig]="{ isAnimated: false, dateInputFormat:'DD-MM-YYYY' }"
                (bsValueChange)="onSearchElementValueChange(searchElement , $event)"
                placeholder="31/01/2024" autocomplete="off">
              
              <!-- </div> -->
            </div>
          </div>

        </div>

          <!-- Radio Buttons -->
          <div *ngIf="columnDetails.ControlElement.InputControlType === 5">
            <label class="form-label"> {{columnDetails.ControlElement.Label}} </label>
            <div class="radio-tile-group">
              <div class="input-container" *ngFor="let dataItem of columnDetails.ControlElement.DropDownList">
                 
                <input class="c-card" type="radio" 
                [(ngModel)]="columnDetails.ControlElement.Value"
                [formControlName]="columnDetails.ControlElement.FieldName"  
                class="radio-button" [value]="dataItem[columnDetails.ControlElement.ValueField]" 
                [checked]="dataItem.Checked">
                                 
                <div class="radio-tile">
                                        
                  <div class="card-state-icon"></div>
                  
                  <label>
                  
                    <div class="image"> 
                      <div class="icon walk-icon">
                        <i class="mdi {{dataItem.Icon}}" style="font-size:20px;display: block;margin: 0 auto;text-align: center;"></i>
                      </div>
                    </div>
                  
                    <label class="radio-tile-label">{{dataItem[columnDetails.ControlElement.DisplayField]}}</label>
                  
                  </label>

                </div>
              </div> 
            </div>
          </div>

          <!-- CheckBox -->
          <div *ngIf="columnDetails.ControlElement.InputControlType === 6">
            <div class="row">

              <div class="col" >
                <label class="form-label" >{{columnDetails.ControlElement.Label}}</label>
              </div>

              <div class="col" style="text-align: right;">
                <label class="el-switch el-switch-green">
                  <input type="checkbox"  
                  [(ngModel)]="columnDetails.ControlElement.Value"
                  [formControlName]="columnDetails.ControlElement.FieldName"/>
                  <span class="el-switch-style"></span> 
                </label>
              </div>

            </div>
          </div>

          <div *ngIf="!formgroup.get(columnDetails.ControlElement.FieldName).valid && formgroup.get(columnDetails.ControlElement.FieldName).touched">
            <span *ngFor="let validator of columnDetails.ControlElement.Validators">
              <span style="color: red;" *ngIf="formgroup.get(columnDetails.ControlElement.FieldName).errors[validator.PropertyNameInError]">{{validator.InvalidMessage}}</span>
            </span>
          </div>

        </div>

        <!-- Group Element Recursive Template -->
        <div *ngIf = "columnDetails.ElementType === 1">
          
          <!-- Group Type : Simple with label-->
          <div *ngIf = "columnDetails.GroupElement.Type === 0">
            <label class="form-label"> {{columnDetails.GroupElement.Label}} </label>  
              
              
              <div *ngFor="let rowDetail of columnDetails.GroupElement.RowDetailsList">
                  <ng-template [ngTemplateOutlet]="rowDetailTemplateRef" [ngTemplateOutletContext]="{ $implicit : rowDetail , group : formgroup}">
                  </ng-template>
              </div>
              
          </div>

          <!-- Group Type : Simple without Label -->
          <div *ngIf = "columnDetails.GroupElement.Type === 1">
            <div *ngFor="let rowDetail of columnDetails.GroupElement.RowDetailsList">
              <ng-template [ngTemplateOutlet]="rowDetailTemplateRef" [ngTemplateOutletContext]="{ $implicit : rowDetail , group : formgroup}">
              </ng-template>
            </div>
          </div>

          <!-- Group Type : Accordian -->
          <div  *ngIf="columnDetails.GroupElement.Type === 2">
            <ngb-accordion class="panel">
              <ngb-panel class="panel" title="{{columnDetails.GroupElement.Label}}">
                <ng-template ngbPanelContent>
                  <div *ngFor="let rowDetail of columnDetails.GroupElement.RowDetailsList">
                    <ng-template [ngTemplateOutlet]="rowDetailTemplateRef" [ngTemplateOutletContext]="{ $implicit : rowDetail , group : formgroup}">
                    </ng-template>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>

          <!-- Group Type : Highlighted Border -->
          <div  *ngIf="columnDetails.GroupElement.Type === 3">
            <fieldset class="border">
              <legend class="border">{{columnDetails.GroupElement.Label}}</legend>
              <div *ngFor="let rowDetail of columnDetails.GroupElement.RowDetailsList">
                <ng-template [ngTemplateOutlet]="rowDetailTemplateRef" [ngTemplateOutletContext]="{ $implicit : rowDetail , group : formgroup}">
                </ng-template>
              </div>
            </fieldset>
          </div>

        </div>
      
      </div>
    </div>
  </div>
  
</ng-template>


<!-- HTML Starts from Here -->
<div class="modal fade show" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="dfc100 overflow-y-auto">

        <div [ngStyle]="{'display': spinner?'flex':'none'}" id="overlay">
          <div class="w-100 d-flex justify-content-center align-items-center">
            <div  class="spinner"></div>
          </div>
        </div>

        <div class="modal-header">
          <h5 class="modal-title pull-left">{{dataSourceTree.Header}}</h5>
          <a class="icon btn-icon pull-left m-l-n-xxxl chrome-back-btn m-t-n-sm" (click)="closeModal()" ><i class="mdi mdi-close font-size-md icon-close"></i></a>
        </div>

        <div class="modal-body no-padder builtin-calling-wrapper">
          <div class="flex-column">
            <div *ngIf="dataSourceTree">
              
              <form [formGroup]= "genericForm" (ngSubmit)="onSubmit()">
                <div class="clearfix"> 
                  
                  
                  <div *ngFor = "let rowDetail of dataSourceTree.RowDetailsList">
                    <ng-template [ngTemplateOutlet]="rowDetailTemplateRef"
                    [ngTemplateOutletContext]="{ $implicit : rowDetail , group : genericForm}">
                    </ng-template>
                  </div>

                  <div *ngFor = "let child of dataSourceTree.Children">
                    <div *ngIf="child.RelationWithParent === 1">
                    <div class="row">
                      <div class="col-12">
                        <button class="btn upgrade-btn btn-sm m-r-sm " (click)="onAddButtonClicked(child)">
                          <i class="mdi mdi-plus m-r-xs" style="border-radius: 3px;"></i>
                            Add &nbsp;
                        </button>
                      </div>
                    </div>
                      <angular-slickgrid gridId="grid1" [columnDefinitions]="child.Columns" [gridOptions]="child.GridOptions" 
                      [dataset]="child.Dataset" gridWidth="100%" 
                      (sgOnSelectedRowsChanged)="onSelectedRowsChanged($event.detail.eventData, $event.detail.args)" 
                      (sgOnClick)="onCellClicked($event.detail.eventData, $event.detail.args)"
                      (onAngularGridCreated)="angularGridReady($event)">
                      </angular-slickgrid>
                    </div>
                  </div>
                  
                      
                  
                </div>
              </form>

            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-default pull-right" type="button" data-dismiss="modal" (click)="closeModal()">Cancel</button>
  
          <div class="pull-right m-r-sm ng-pristine ng-invalid ng-touched">
              <div>
                  <div>
                      <button class="btn  btn-primary " type="Submit" name="btnSubmit"  id="btnSubmit" (click)="onSave()">
                          <div class="pos-rlt sm-btn-component" > <span> Save </span></div>
                      </button>
                  </div>
              </div>
          </div>
        </div>
    
      </div>
    </div>
  </div>
</div>
