agm-map {
    height: 200px !important;
    width: 100%;  /* This is really important*/
  }

 

  img {
    max-width:100% !important; 
    max-height:100% !important;
    margin:auto !important;
    display:block !important;
  }