<!--The content below is only a placeholder and can be replaced.-->

<!-- <body> -->
<!-- <app-login></app-login>  -->
<!-- <app-sidebar-left></app-sidebar-left> -->

<!-- <div [hidden]="showLoading"> -->

  
<router-outlet (activate)="onActivate($event)"></router-outlet>

<!-- // "SECURITY_BASE_URL": "http://cielhr.integrumapps.com/security.api/",
// "API_BASE_URL": "http://cielhr.integrumapps.com/hrsuite.api/",
// "OBJECTSTORAGE_BASE_URL": "http://35.206.110.6/objectstorage.api/",
// "Admin_BASE_URL": "http://cielhr.integrumapps.com/admin.api/api/", -->

<!-- </div>
    <div [hidden]="!showLoading" style="text-align:center;margin:250px" >
        <img class="img-fluid" style="background-color:transparent" src="assets/Images/mint.gif" width="auto" height="auto" />
    </div>
</body> -->