.cursor-pointer {
  cursor: pointer !important;
}

.a {
  justify-content: center !important;
}

::ng-deep .owl-stage-outer {
  margin-right: -1px;
}
::ng-deep .owl-nav {
  margin-top: -55px;
  margin-bottom: 35px;
}
::ng-deep .owl-prev {
  display: block;
  margin-left: -10px;
  float: left;
}
::ng-deep .owl-next {
  display: block;
  float: right;
  margin-right: -12px;
}

.h6_c {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.border-line {
  display: block !important;
  width: 21px !important;
  border-bottom-width: 3px !important;
  border-bottom-color: transparent;
}

::ng-deep .cal-month-view .cal-day-cell {
  min-width: 80px;
  min-height: 60px !important;
}

::ng-deep .cal-month-view .bg-pink,
.cal-week-view .cal-day-columns .bg-pink,
.cal-day-view .bg-pink {
  background-color: hotpink !important;
}

::ng-deep .red-cell {
  background-color: #b1f6b3 !important;
}
::ng-deep .blue-cell {
  background-color: #f4f1cb !important;
}
::ng-deep .weekend-cell {
  background-color: #ececec !important;
}

/* ::ng-deep .cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
    color: #606d8a !important;
  } */

::ng-deep .cal-month-view .cal-cell-row {
  color: black !important;
  font-size: 14px;
  font-weight: 400;
}

::ng-deep .cal-month-view {
  cursor: pointer !important;
}

::ng-deep .cal-month-view .cal-header .cal-cell {
  font-family: Roboto;
  font-size: 12px !important;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  color: #808080 !important;
  text-transform: uppercase;
}

.action-edit {
  background: transparent;
  min-width: 20px;
  min-height: 20px;
  padding: 0px;
  border-radius: 0%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  opacity: 0.5;
  text-align: center;
}

.m-b-md {
  margin-bottom: 20px;
}
img {
  border: 0;
  vertical-align: middle;
}

.m-b-sm {
  margin-bottom: 10px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 500;
  margin: 0;
}
.h4,
h4 {
  font-size: 18px;
  color: #17274d;
}
.secondary-text,
.sequence-welcome-page p {
  color: #505f79;
}

.fontfamily {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
}
.btn-link {
  color: #8997bd;
  padding: 0.1rem 0.1rem !important;
  padding-left: 0px;
  padding-right: 10px;
}

.btn-link {
  font-weight: 400;
  color: #0a609eeb;
  text-decoration: none;
  width: 100%;
}

.card-header {
  border-bottom: none !important;
}

.no-border-card {
  border: none !important;
}

.cu-mind__quotes_open {
  top: calc(50% - 40px);
  left: -10px;
}
.cu-mind__quotes {
  position: absolute;
}
.cu-mind__quotes_close {
  top: 50%;
  right: -10px;
}
.cu-mind__text {
  margin: 30px 50px 50px;
  text-align: center;
  font: 300 17px/26px Proxima Nova, arial, serif;
  color: #322646;
}

q {
  quotes: none;
}

.border_slice {
  color: #d3d3d3;
}

.ff {
  font-family: Open Sans, Segoe UI, Roboto, Helvetica Neue, sans-serif !important;
  line-height: 1.2 !important;
  display: flex;
  color: #000;
  height: auto !important;
  width: auto !important;
  font-feature-settings: "tnum", "tnum";
  font-variant: tabular-nums;
}

.disableDiv {
  pointer-events: none;
  opacity: 0.5;
}
.w-col-3 {
  width: 27.5333%;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff !important;
}

.custom-checkbox
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #c8ffc8;
}

.badge-icon {
  background-color: #75d6db;
  margin-left: 7px;
}

.badge-margin {
  margin-left: 7px;
}

.margin-5 {
  margin: 5px;
}

.badge-week-off {
  background-color: #ffeaa7 !important;
  line-height: 5px;
  color: #000 !important;
  width: 10%;
}

.spinner-color {
  color: #2ad25f;
}

.f-14 {
  font-size: 14px;
}

.d-inline-badge {
  display: inline;
}

.d-inline-grid {
  display: inline-grid !important;
}

.hrs-style {
  font-family: Roboto !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: right;
  color: #333333 !important;
  margin-top: 1.3rem;
}

.legend-text {
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 10px;
  color: #808080;
}

.legend-square {
  font-size: 13px;
  margin-right: 0.3rem;
}

.week-off-color {
  color: #ffe79a;
  border-bottom-color: #ffe79a;
}

.present-color {
  color: #1abc9c;
  border-bottom-color: #1abc9c;
}

.absent-color {
  color: #ff5555;
  border-bottom-color: #ff5555;
}

.leave-color {
  color: #f39c12;
  border-bottom-color: #f39c12;
}

.leave-applied-color {
  color: white;
  border-bottom-color: #f39c12;
}

.holiday-color {
  color: #8e44ad;
  border-bottom-color: #8e44ad;
}

.permission-color {
  color: #365879;
  border-bottom-color: #365879;
}

.od-color {
  color: #2506e2;
  border-bottom-color: #2506e2;
}

.wfh-color {
  color: #00a8ff;
  border-bottom-color: #00a8ff;
}

.wowh-color {
  color: #f368e0;
  border-bottom-color: #f368e0;
}

.week-off-badge {
  color: #f39c12;
  border: 1px solid #ffe79a;
  background-color: #ffe79a;
}

.present-badge {
  color: #1abc9c;
  border: 1px solid #1abc9c;
  background-color: #d2f1eb;
}

.absent-badge {
  color: #ff5555;
  border: 1px solid #ff5555;
  background-color: #ffe3e3;
}

.leave-badge {
  color: #f39c12;
  background-color: #fcf5ea;
  border: 1px solid #f39c12;
}

.leave-applied-badge {
  color: white;
  background-color: #f39c12;
  border: 1px solid #f39c12;
}

.holiday-badge {
  color: #8e44ad;
  border: 1px solid #8e44ad;
  background-color: #8e44ad33;
}

.permission-badge {
  color: #365879;
  border: 1px solid #365879;
  background-color: #179df833;
}

.od-badge {
  color: #2506e2;
  border: 1px solid #2506e2;
  background-color: #179df833;
}

.wfh-badge {
  color: #00a8ff;
  border: 1px solid #00a8ff;
  background-color: #179df833;
}

.wowh-badge {
  color: #f368e0;
  border: 1px solid #f368e0;
  background-color: rgba(255, 119, 105, 0.3);
}

::ng-deep .cal-month-view .cal-day-cell.cal-today {
  background-color: #eff4ff;
}

.custom-cal-day-number {
  font-family: Roboto !important;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #333333 !important;
}

.cal-month-view .cal-day-cell.cal-today .custom-cal-day-number {
  font-weight: 600 !important;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.calendar-view-month {
  margin-top: 3px;
  margin-right: 13px;
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.summary-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  color: #333333;
}

.padding-card-body-custom {
  padding: 1.6rem 1.81rem !important;
}

.card-value-lighter {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #146ba2;
}

.card-value {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: #146ba2;
}

.grey-muted-text {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400 !important;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #808080;
}

.dropup-with-arrow-down .dropdown-toggle::after {
  border-top: 0.3em solid !important;
  border-bottom: 0 !important;
}

.slider-header {
  padding: 0 !important;
  margin-top: -8px;
  background: transparent;
}

.slider-title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #1c1e24;
}

.slider-subtitle {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  color: #1c1e24;
}

.description-title {
  font-family: Roboto;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #7b8193 !important;
}

.description-value {
  font-family: Roboto;
  font-size: 13px !important;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #333333 !important;
}

.badge {
  text-transform: uppercase !important;
}

.f-13 {
  font-size: 13px !important;
}

.emp-punches-table {
  width: 100%;
  background-color: #ffff;
  text-align: left;
  font-size: 13px !important;
  border: 0 !important;
  font-family: Roboto;
  font-weight: 500;
  line-height: 15px;
  color: #1c1e24;
}

.emp-punches-table-header tr th {
  /* width: 20%; */
  background-color: inherit;
  text-transform: capitalize;
  font-weight: 500 !important;
  line-height: 13px;
  border: 0 !important;
  /* width: 15%; */
}
.emp-punches-table-body {
  max-height: 30px;
  overflow-y: auto !important;
  border: 1px solid #e7e7e7 !important;
  background: white;
}

.emp-punches-table-body tr {
  border: 1px solid #e7e7e7 !important;
}

.emp-punches-table-body tr td {
  width: inherit;
  vertical-align: middle;
  font-weight: 400 !important;
  padding-top: 0.75rem;
  border: 0 !important;
  color: #333333;
  line-height: 18px;
}

.dropdownHeader {
  font-family: Roboto;
  font-size: 14px !important;
  font-weight: 500 !important;
  text-align: left;
  color: #146ba2 !important;
}

.dropdownValue {
  font-family: Roboto;
  font-size: 13px !important;
  font-weight: 400 !important;
  text-align: left;
  color: #333333 !important;
}

.circle {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 43px;
  font-size: 20px;
  padding: 0.6rem;
}

.highlight-week-off-holiday {
  background-color: #f5f5f5b3 !important;
}

.icon-green {
  color: #23beb3 !important;
  background-color: #dffcfa;
}

.icon-yellow {
  color: #f39c12 !important;
  background-color: #fff1da;
}

.icon-blue {
  color: #396dd0 !important;
  background-color: #e9f1ff;
}

.icon-purple {
  color: #c542b7 !important;
  background-color: #ffecfd;
}

.desktop-icon {
  display: inline;
}

.font-small {
  font-size: 8px !important;
}

.color-grey {
  color: #808080 !important;
}
.card-container {
  width: 300px;
  overflow-y: auto;
  max-height: 400px;
}

.fw-600 {
  font-weight: 600 !important;
}

.width-11 {
  width: 11px !important;
}

.mt-set-custom {
  margin-top: 20%;
}

.attdCode-style {
  margin-top: 15px;
  margin-left: 10px;
  float: left !important;
  font-family: Roboto !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: right;
  color: #333333 !important;
  text-transform: capitalize;
}

.small-text {
  color: #1c1e24 !important;
  /* font-weight: 500 !important; */
  font-size: 13px;
}

.permission-style {
  margin-top: 0%;
  margin-left: 5%;
  float: left !important;
  font-family: Roboto !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  text-align: left !important;
}

.label-title {
  font-family: Roboto;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 15px;
  text-align: left;
  color: #7b8193 !important;
}

.label-value {
  font-family: Roboto;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 16px;
  text-align: left;
  color: #1c1e24 !important;
}

.pending-color {
  color: #ee9a15 !important;
}

.pending-status {
  background: #ffe9c7;
  border-radius: 4px;
  text-align: center;
  color: #ee9a15 !important;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.holiday-status {
  background: #8e44ad33;
  border-radius: 4px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #8e44ad !important;
  border: 1px solid #8e44ad;
}

.holiday-color {
  color: #8e44ad;
}

.approved-color {
  color: #2da05e !important;
}

.approved-status {
  text-align: center;
  background: #e2feee;
  border-radius: 4px;
  color: #2da05e !important;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.rejected-color {
  color: #e74c3c !important;
}

.rejected-status {
  text-align: center;
  background: #ffe4e1;
  border-radius: 4px;
  color: #e74c3c !important;
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.stripe {
  border-radius: 5px;
  padding: 0.2rem;
  background: repeating-linear-gradient(
    45deg,
    #ffffff66,
    #e3e3e3 15%,
    #e3e3e366 30%
  );
}

.legend-stripe {
  color: #e3e3e3 !important;
  border-bottom-color: #e3e3e3 !important;
  /* color: transparent !important;
    background: repeating-linear-gradient(45deg, #ffffff66, #E3E3E3 15%, #E3E3E3 30%); */
}

/* smaller laptop, ipads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .mt-set-custom {
    margin-top: 30% !important;
  }
}

/* Hide the icon on screens with a max-width of 768px or smaller (typically mobile screens) */
@media (max-width: 768px) {
  .desktop-icon {
    display: none;
  }

  .mt-set-custom {
    margin-top: 70% !important;
  }

  .hrs-style {
    font-family: Roboto;
    font-size: 10px !important;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    color: #808080 !important;
  }

  ::ng-deep .cal-month-view .cal-day-cell {
    min-width: 50px !important;
    min-height: 70px !important;
  }
}
