.blue-card {
    background: #007BAC;
    color: white !important;
}

.alignWelcomeText {
    padding-top: 5%;
    padding-left: 5%;
}

.content-title {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    font-variant: normal;
    letter-spacing: 0em;
    text-align: left;
}

.welcome-text {
    color: white !important;
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    font-variant: normal;
    letter-spacing: 0em;
    text-align: left;
}

#left,
#right {
  background-color: rgba(10, 10, 10, 0.5);
  border: 1px solid #fff;
  padding: 0.5rem;
  flex-grow: 1;
  color: #fff;
}

.title {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    font-variant: normal;
    text-align: left;
}

.steps-content {
    margin-top: 16px;
    min-height: 200px;
    text-align: center;
    font-variant: normal;
    padding: 0;
    page-break-after: always;
    page-break-before:always;
}

.steps-action {
    margin-top: 24px;
}

.avatar-upload {
    position: relative;
    max-width: 235px;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.avatar-edit {
    position: absolute;
    right: 125px;
    z-index: 1;
    top: 75px;
} 

.avatar-edit input {
    display: none;
    
}
.avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

.avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-edit input + label:after {
    content: "\f030";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border: 1px dashed rgba(85, 85, 85, 0.5);
    border-radius: 5px;
}

.avatar-preview > div {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.info {
    color: #33333380;
    font-weight: 500;
    font-size: 10px;
    line-height: normal;
}

.highlightFormArrDiv{
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #F5F5F5;
    padding: 1rem;
}

.btnAddMore {
    color: rgba(85, 85, 85, 0.5) !important;
    margin: 0.5rem 0 0.5rem !important;
    border: 1px dashed rgba(85, 85, 85, 0.5) !important;
    border-radius: 2px !important;
}

.ant-steps {
    cursor: pointer !important;
}

.setHtWt {
    width: 50%;
    height: 50%;
}

.btn-success {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.doc-title {
    font-weight: 400;
    color: #000;
    font-size: 15px;
}