
/* // model popup  */

.migrate-date-wrapper {
    padding: 30px;
    margin: 0;
    display: flex;
  }
  .migrate-date-wrapper .import-block {
    border: 1px solid #dfe1e6;
    border-radius: 4px;
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    height: 14rem;
  }
  .m-b-md {
    margin-bottom: 20px;
  }
  img {
    border: 0;
    vertical-align: middle;
    width: 3rem;
  }
  
  .m-b-sm {
    margin-bottom: 10px;
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1, 
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    font-weight: 500;
    margin: 0;
  }
  .h4,
  h4 {
    font-size: 18px;
    color: #17274d;
  }
  .secondary-text,
  .sequence-welcome-page p {
    color: #505f79;
  }
  
  .migrate-date-wrapper .import-block:hover {
    border: 1px solid #337ab7;
    box-shadow: 0 0 3px 0 #337ab7;
  }

  .ft {
    font-size: 14px;
    font-weight: 600;
  }