.card[_ngcontent-c8] {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03) !important;
  transition: all 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  border: 0 solid transparent !important;
}

.card[_ngcontent-c8] .card-title[_ngcontent-c8] {
  position: relative;
  font-weight: 600;
  margin-bottom: 10px;
}
h4[_ngcontent-c8] {
  font-size: 1.3rem;
  font-weight: 600;
}
.card[_ngcontent-c8] .card-subtitle[_ngcontent-c8] {
  font-weight: 300;
  margin-bottom: 10px;
  color: #a1aab2;
}
.card-subtitle[_ngcontent-c8] {
  margin-top: -0.375rem;
  margin-bottom: 0;
}
h5 {
  font-size: 1em;
  color: #585e6a;
  font-weight: 500;
}

.header_title {
  font-size: 20px;
  font-weight: 700;
  color: #1c273c;
  letter-spacing: -1px;
  margin-bottom: 3px;
}
.subheader_title {
  color: #535353;
  font-size: 14px;
  margin-bottom: 0;
}

.card_shadow {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  transition: all 0.2s;
  margin-bottom: 1rem;
}
.card-cus {
  font-weight: 600;
  font-size: 14px;
}
h6 {
  font-size: 0.75rem;
}
.p-l-0 {
  padding-left: 0px !important;
}
.m-b-0 {
  margin-bottom: 0px;
}

.card-header {
  background: white;
  border: none;
}

.integrum-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.integrum-list-item > div:first-child h6 {
  color: #1c273c;
}
.integrum-list-item h6 {
  margin-bottom: 2px;
  font-weight: 600;
}
.integrum-list-item > div span {
  color: #7987a1;
  font-size: 12px;
}
.card-dashboard-pageviews .card-header {
  background-color: transparent;
  padding: 0 0 10px;
}
.card-dashboard-pageviews .card-title {
  font-weight: 700;
  font-size: 14px;
  color: #1c273c;
  margin-bottom: 5px;
}
.card-dashboard-pageviews .card-text {
  font-size: 13px;
  margin-bottom: 0;
}
.tx-primary {
  color: #00cc88;
}
.tx-danger {
  color: #f44336;
}

/* // tabel  */
.mg-t-15 {
  margin-top: 15px;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-talk-time {
  margin-bottom: 0;
}
.table {
  color: #3b4863;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #031b4e;
}
table {
  border-collapse: collapse;
}
.table-talk-time thead > tr th:first-child,
.table-talk-time thead > tr td:first-child,
.table-talk-time tbody > tr th:first-child,
.table-talk-time tbody > tr td:first-child {
  padding-left: 20px;
}
.table-talk-time thead > tr th,
.table-talk-time thead > tr td,
.table-talk-time tbody > tr th,
.table-talk-time tbody > tr td {
  padding: 10px 10px;
}
.table thead th,
.table thead td {
  color: #7987a1;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-bottom-width: 1px;
  border-top-width: 0;
  padding: 0 15px 5px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #cdd4e0;
}
.table th,
.table td {
  line-height: 1.462;
}
.table th,
.table td {
  vertical-align: top;
  border-top: 1px solid #cdd4e0;
}
tbody {
  font-size: 13px;
  font-weight: 600;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #d1dfeb52;
}

.wrapper-div {
  display: flex;
  flex-direction: column;
}

// .order-1 {
//   display: table-footer-group;
// }

// .order-2 {
//   display: table-header-group;
// }

// .order-3 {
//   order: 3;
// }

.progress-bar-success {
  background-color: #5cb85c;
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-bar-danger {
  background-color: #d9534f;
}

.progress-bar-todo {
  background-color: #1890ff;
}

::ng-deep .gridPane {
  height: 450px !important;
}

:host ::ng-deep .ant-back-top {
  bottom: 100px;
}

:host ::ng-deep .ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #0a609eeb;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

:host ::ng-deep strong {
  color: #0a609eeb;
}

.table tr td {
  height: 10px;
  width: 10px;
}

tr {
  line-height: 19px;
  min-height: 20px;
  height: 20px;
  // font-weight: 600;
}

.left-margin-btn {
  margin: 0 auto;
  margin-left: 0px;
}

.table td {
  padding: 0.25rem;
}

.p-t-14 {
  padding-top: 14px !important;
}

.table-td-center {
  vertical-align: middle !important;
}
.cenr {
  text-align: center;
}
.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
  tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%;
  }
  thead,
  tbody,
  tr,
  td,
  th {
    display: block;
  }
  tbody {
    td {
      float: left;
    }
  }
  thead {
    tr {
      th {
        float: left;
        background-color: #f39c12;
        border-color: #e67e22;
      }
    }
  }
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
thead {
  width: calc(100% - 1em);
}
table.tableBodyScroll tbody {
  display: block;
  max-height: 350px;
  overflow-y: scroll;
}

table.tableBodyScroll thead,
table.tableBodyScroll tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.font-fam {
  font-family: verdana, sans-serif;
  font-size: 12px;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
}

.tbdy {
  font-size: 12px;
  font-weight: 400;
  max-width: 100%;
  overflow-x: hidden;
}

.table td {
  padding: 0.55rem !important;
  padding-top: 11px !important;
}

.table th {
  color: #000 !important;
  padding-bottom: 15px !important;
}

// new payout design
.btn-group {
  margin-right: 0.5em;
}
