<!-- <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12" style="text-align:center">
      <label> Requirement Details</label>
    </div>
    <br />
    <br />
    <br />

    <div class="row">
      <div class="col-md-6">
        <div class="dx-field padding-left-10">
          <div class="dx-field-label">Work Location</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]="requirementDetails.WorkLocation">
              <dx-validator>
                <dxi-validation-rule type="required" message="Work Location is required"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="dx-field padding-right-10">
          <div class="dx-field-label">Total Experience</div>
          <div class="dx-field-value">
            <dx-lookup [dataSource]="_totalExperienceList" [closeOnOutsideClick]="true" [showPopupTitle]="false"
              displayExpr="FromYearName">
              <dx-validator>
                <dxi-validation-rule type="required" message="Select Any Total Experience"></dxi-validation-rule>
              </dx-validator>
            </dx-lookup>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="dx-field padding-left-10">
          <div class="dx-field-label">City</div>
          <div class="dx-field-value">
            <dx-lookup [dataSource]="_cityList" [closeOnOutsideClick]="true" [showPopupTitle]="false" displayExpr="FromYearName">
              <dx-validator>
                <dxi-validation-rule type="required" message="Select Any City"></dxi-validation-rule>
              </dx-validator>
            </dx-lookup>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="dx-field padding-right-10">
          <div class="dx-field-label">Relevant Experience</div>
          <div class="dx-field-value">
            <dx-lookup [dataSource]="_totalExperienceList" [closeOnOutsideClick]="true" [showPopupTitle]="false"
              displayExpr="FromYearName">
              <dx-validator>
                <dxi-validation-rule type="required" message="Select Any Relevant Experience"></dxi-validation-rule>
              </dx-validator>
            </dx-lookup>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="dx-field padding-left-10">
          <div class="dx-field-label">State</div>
          <div class="dx-field-value">
            <dx-lookup [dataSource]="_sateList" [closeOnOutsideClick]="true" [showPopupTitle]="false" displayExpr="FromYearName">
              <dx-validator>
                <dxi-validation-rule type="required" message="Select Any State"></dxi-validation-rule>
              </dx-validator>
            </dx-lookup>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="dx-field padding-right-10">
          <div class="dx-field-label">CTC Annual</div>
          <div class="dx-field-value">
            <dx-lookup [dataSource]="_totalExperienceList" [closeOnOutsideClick]="true" [showPopupTitle]="false"
              displayExpr="FromYearName">
              <dx-validator>
                <dxi-validation-rule type="required" message="Select Any CTC Annual"></dxi-validation-rule>
              </dx-validator>
            </dx-lookup>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="dx-field padding-left-10">
          <div class="dx-field-label">CTC Annual</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]="requirementDetails.WorkLocation">
              <dx-validator>
                <dxi-validation-rule type="required" message="Work Location is required"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="dx-field padding-right-10">
          <div class="dx-field-label">Date</div>
          <div class="dx-field-value">
            <dx-date-box (onValueChanged)="dateBox_valueChanged($event)" invalidDateMessage="The date must have the following format: MM/dd/yyyy"
              [value]="now" [min]="now" type="date" (keypress)="_keyPress($event)">
              <dx-validator>
                <dxi-validation-rule type="required" message="Date is required"></dxi-validation-rule>
              </dx-validator>
            </dx-date-box>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="OnSubmit()">Submit</button>
    </div>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->


<div></div>