.table-sticky>thead>tr>th,
        .table-sticky>thead>tr>td {
           
            top: 0px;
            position: sticky;
        }
        
        .table-height {
           
            display: block;
            overflow: auto;
            width: 100%;
        }
        .table-sticky>thead th {
            background-color: #f5f5f5 !important;
        }