.attendanceSummaryTable thead tr th {
    font-weight: 600;
    font-size: 13px;
    text-align: center !important;
}

.attendanceSummaryTable tbody tr td {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
}
  
.attendanceSummaryTable tbody tr td:nth-child(1) {  /*the first cell in each tr*/
    font-weight: 600;
    font-size: 13px;
    text-align: left !important;
}
