.modal .modal-dialog-aside {
    // width: 350px;
    // max-width: 80%;
    height: 100%;
    margin: 0;
    transform: translate(0);
    transition: transform .2s;
}

.modal .modal-dialog-aside .modal-content {
    height: inherit;
    border: 0;
    border-radius: 0;
}

.modal .modal-dialog-aside .modal-content .modal-body {
    overflow-y: auto
}

.modal.fixed-left .modal-dialog-aside {
    margin-left: auto;
    transform: translateX(100%);
}

.modal.fixed-right .modal-dialog-aside {
    margin-right: auto;
    transform: translateX(-100%);
}

.modal.show .modal-dialog-aside {
    transform: translateX(0);
}

.card-bg {
    width: auto;
    height: auto;
    left: 243px;
    top: 142px;
    background: linear-gradient(89.4deg, #7878E7 -2.21%, #5886DA 56.6%, #64D6CE 102.73%);
    border-radius: 4px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}

.p-content {
    width: auto;
    height: auto;
    left: 310px;
    top: 164px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.h6-content {
    width: auto;
    height: auto;
    left: 310px;
    top: 164px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    color: #FFFFFF;
}

.small-content {
    width: 446px;
    height: 14px;
    left: 310px;
    top: 186px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #FFFFFF;
    opacity: 0.7;
}

.btn-blank {
    // width: 175px;
    // height: 32px;
    // left: 1048px;
    // top: 174px;
    // font-style: normal;
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 16px;
    // text-align: right;
    // color: #FFFFFF;
    width: auto;
    height: auto;
    left: 1048px;
    top: 174px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    font-weight: 600 !important;
}

.btn-white {
    width: auto;
    height: auto;
    left: 1201px;
    top: 163px;
    background: #FFFFFF;
    // box-shadow: 0px 0px 4px rgb(0 0 0 / 18%);
    border-radius: 4px;
    color: #146BA2;
    font-size: 12px;
    font-weight: 600 !important;
}

.form-label {
    color: #000!important;
    display: block !important;
    font-size: 12px !important;
    font-weight: 600 !important;
}

.switch6 {
    max-width: 17em;
    margin: 0 auto;
}

.switch6-light>span,
.switch-toggle>span {
    color: #000000;
}

.switch6-light span span,
.switch6-light label,
.switch-toggle span span,
.switch-toggle label {
    color: #2b2b2b;
}

.switch-toggle a,
.switch6-light span span {
    display: none;
}

.switch6-light {
    display: block;
    height: 34px;
    position: relative;
    overflow: visible;
    padding: 2px;
    margin-left: 0px;
}

.switch6-light * {
    box-sizing: border-box;
}

.switch6-light a {
    display: block;
    transition: all 0.3s ease-out 0s;
}

.switch6-light label,
.switch6-light>span {
    line-height: 30px;
    vertical-align: middle;
}

.switch6-light label {
    font-weight: 700;
    margin-bottom: px;
    max-width: 100%;
}

.switch6-light input:focus~a,
.switch6-light input:focus+label {
    outline: 1px dotted rgb(136, 136, 136);
}

.switch6-light input {
    position: absolute;
    opacity: 0;
    z-index: 5;
}

.switch6-light input:checked~a {
    right: 0%;
}

.switch6-light>span {
    position: absolute;
    left: -100px;
    width: 100%;
    margin: 0px;
    padding-right: 100px;
    text-align: left;
}

.switch6-light>span span {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 100px;
    text-align: center;
}

.switch6-light>span span:last-child {
    left: 50%;
}

.switch6-light a {
    position: absolute;
    right: 50%;
    top: 0px;
    z-index: 4;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0px;
    border-radius: 5px;
}

.radion_btn_primary {
    background: #fff;
    border: 1px solid #146BA2;
}

label span {
    color: #B5BFD8!important;
}

.form-select {
    box-sizing: border-box;
    width: 149px;
    height: 32px;
    left: 243px;
    top: 326px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px !important;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    &:focus {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
}

.progress {
    display: flex;
    height: 0.3rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 1.25rem;
}

.btn-download {
    width: auto;
    height: auto;
    left: 1048px;
    top: 174px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    color: #146BA2;
    font-weight: 600 !important;
}

/// slider 
.switch-bg {
    background: #146BA2;
    border-radius: 4px;
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: none !important;
}

.form-container {
    width: 100vw;
    // height: 100vh;
    // background-color: #7b2cbf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-files-container {
    // background-color: #f7fff7;
    // width: 420px;
    // padding: 30px 60px;
    // border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
}

.drag-file-area {
    border: 1px dashed #cecbd2;
    border-radius: 5PX;
    margin: 5px 0 5px;
    width: 100%;
    text-align: center;
}

.drag-file-area .upload-icon {
    font-size: 12px;
}

.drag-file-area h3 {
    font-size: 12px;
    margin: 8px 6px;
}

.drag-file-area label {
    font-size: 12px;
}

.drag-file-area label .browse-files-text {
    color: #7b2cbf;
    font-weight: bolder;
    cursor: pointer;
}

.browse-files span {
    position: relative;
    top: -25px;
}

.default-file-input {
    opacity: 0;
}

.cannot-upload-message {
    background-color: #ffc6c4;
    font-size: 17px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 5px 10px 5px 30px;
    border-radius: 5px;
    color: #BB0000;
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cannot-upload-message span,
.upload-button-icon {
    padding-right: 10px;
}

.cannot-upload-message span:last-child {
    padding-left: 20px;
    cursor: pointer;
}

.file-block {
    display: flex;
    color: #000;
    background-color: #3278b454;
    transition: all 1s;
    width: 100%;
    position: relative;
    /* display: none; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.file-info {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.file-icon {
    margin-right: 10px;
}

.file-name,
.file-size {
    padding: 0 3px;
    border: none !important;
}

.remove-file-icon {
    cursor: pointer;
}

.upload-button {
    font-family: 'Montserrat';
    background-color: #7b2cbf;
    color: #f7fff7;
    display: flex;
    align-items: center;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 7.5px 50px;
    cursor: pointer;
}

.show-more {
    /*   width: 690px;  */
    color: #777;
    position: relative;
    font-size: 12px;
    padding-top: 5px;
    height: 20px;
    text-align: center;
    background: #f1f1f1;
    cursor: pointer;
}

.show-more:hover {
    color: #1779dd;
}

// .card1:hover {
//     transform: translateY(-5px) scale(1.005) translateZ(0);
//     box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 4px 24px #bbd8f1;
// }
// .card1:hover {
//     border-color: #ffeeba;
//     background: #ffd861;
// }
// .card1:hover:after {
//     background: #ffeeba;
// }
.card1-body1:hover {
    .label {
        color: white;
    }
    .span {
        color: white;
    }
}

h3 {
    color: #262626;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;
    &.small {
        font-size: 14px;
    }
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #1779dd;
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.card1 {
    display: block;
    position: relative;
    /* max-width: 262px; */
    background-color: #e5edf5;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 3px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #1779dd;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.25s ease-out;
    }
    &:hover:before {
        transform: scale(21);
    }
}

.card1:hover {
    p {
        transition: all 0.3s ease-out;
        color: rgba(255, 255, 255, 0.8);
    }
    h3 {
        transition: all 0.3s ease-out;
        color: #ffffff;
    }
}

.delete {
    cursor: pointer !important;
    font-size: 17px;
    position: absolute;
    color: #fe0000;
    border: none;
    background: none;
    right: -5px;
    top: -5px;
    line-height: 1;
    z-index: 100;
    padding: 0;
}

.delete span {
    height: 20px;
    width: 20px;
    background-color: #f50000;
    border-radius: 50%;
    display: block;
}

.box {
    width: 100%;
    /* margin: 5px; */
    height: 100%;
    background: #FFF;
    /* float: left; */
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
}

.testimonial-group>.row {
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial-group>.row>.col-md-6 {
    display: inline-block;
    float: none;
}

.data-selected {
    border-color: #146BA2 !important;
}

#scroll-wrapper {
    margin: -2px;
    /* max-height: 250px; */
    overflow: auto;
    height: 100%;
    /* margin-right: 16px; */
    padding: -2px;
    margin-right: 10px;
}

#thumbnails {
    padding-bottom: 25px;
    /* max-height: 100%; */
    /* min-width: 100px; */
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    height: 100%;
}

.thumbnail-container {
    display: inline-block;
    position: relative;
    /* line-height: 8px; */
    border: 1px solid steelblue;
    margin: 4px;
    display: inline-block;
    /* margin-bottom: 15px !important; */
    height: 100%;
    width: 166px;
    border-radius: 3px;
}

.scrollbox_delayed {
    transition: visibility 0.2s;
    overflow: hidden;
}

.scrollbox_delayed:hover {
    transition: visibility 0s 0.2s;
    overflow-x: scroll;
}

.is-invalid-border {
    border: 1px dashed #dc3545 !important;
}

.badge-success1 {
    background: #E2FEEE;
    color: #2DA05E;
    border-radius: 2px;
    display: inline;
}
.badge-warning1 {
    background: #FFE9C7;
    color: #EE9A15;
    border-radius: 2px;
    display: inline;
    font-size: 12px;
}
.badge-danger1 {
    background: #FFE4E1;
    color: #E74C3C;
    border-radius: 2px;
    display: inline;
}
.badge-remarks {
    background: #D4EFFF;
    color: #146BA2;
    border-radius: 2px;
    display: inline;
}
.badge-declaration {
    background: #d0d6f9;
    color: #3f51b5;
    border-radius: 2px;
    display: inline;
    font-size: 10px !important;
}
.norecord {
    font-size: 12px;
    font-weight: 600;
    color: black;
 
}