.color-white {
  color: #fff;
}

.icon-color-grey {
  color: #808080;
}

.time-sheet-card {
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 144px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  /* padding: 15px; */
}

.time-sheet-line-card {
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 130px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  /* padding: 15px; */
}

.over-time-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: #333333 !important;
  display: block;
}

.over-time-label {
  color: #808080;
  font-weight: 400;
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.over-time-card a {
  text-align: center;
  float: right;
  width: 48px;
  height: 48px;
  border: 1px solid #d1edff;
  border-radius: 100%;
  background: #d1edff;
}

.over-time-card a i {
  font-size: 20px;
  line-height: 45px;
  color: #3498db;
}

.working-hrs-card a {
  text-align: center;
  float: right;
  width: 48px;
  height: 48px;
  border: 1px solid #d1edff;
  border-radius: 100%;
  background: #CDFBE5;
}

.working-hrs-card a span {
  font-size: 20px;
  line-height: 45px;
  color: #41BF82;
}

.highlightFormArrDiv{
  border: 1px solid #F6F6F6;
  border-radius: 4px;
  background-color: #F7F7F7;
  padding: 1rem;
  margin: 5px !important;
  width: 100% !important;
}

.btn-delete {
  background: #FFE4E1;
  border: 1px solid #FFE4E1;
  border-radius: 2px;
  color: #E74C3C !important;
}

.btn-add {
  background: #D7EFFF;
  border: 1px solid #D7EFFF;
  border-radius: 2px;
  color: #146BA2 !important;
}

.b-r-0 {
  border-right: 0 !important;
}

.input-append-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  background: #fff;
  border-left: 0 !important;
  color: #808080;
  border: 1px solid #b6b6b7 !important;
}

.date-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 16px;
  color: #333333 !important;
  background: transparent !important;
  width: 140px;
}
.workingHours-label {
  background: rgba(20, 107, 162, 0.2);
  border-radius: 4px;
  color: #146BA2;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  width: 70px;
  text-align: center;
  padding: 0.1rem;
}

.custom-accordion .card {
  border: 0 !important;
  padding: 0.15rem !important;
  width: 25%;
}

.custom-accordion .card-header {
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 17px;
  padding: 0 !important;
  margin-bottom: 1rem!important;
}

.custom-accordion .card-body {
  padding: 0 !important;
}

.custom-accordion-opened .card {
  border: 0 !important;
  background: transparent;
  font-family: 'Roboto';
  font-style: normal;
  width: 100% !important;
}

.custom-accordion-opened .card-header {
  border: 0 !important;
  padding: 0;
  background: transparent !important;
}

.custom-accordion-opened .show {
  margin-top: -1%;
}

.custom-accordion-opened .card-body {
  padding-left: 0 !important
}

.custom-accordion-opened .btn-link {
  padding-left: 0 !important
}


.accordion {
  /* border: 1px solid #ccc; */
}

.accordion__title {
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 17px;
  padding: 0.6rem !important;
  margin-bottom: 1rem !important;
  cursor: pointer;
}

.accordion__content {
  display: none;
  padding: 10px;
}

.accordion__section--active .accordion__content {
  display: block;
}

.accordion__section--active .accordion__title {
  border: 0 !important;
}

.purple-text {
  color: #BF2CFD !important;
  font-size: 13px;
  font-family: Roboto;
  font-weight: 500;
}

.error-feedback {
  color: #dc3545;
    font-size: 11px;
}

.ng-select.custom-drpdwn .ng-select-container {
  border-color: transparent;
  border: 0px !important;
  border-radius: 0 !important;
}

.ng-select.custom-drpdwn .ng-select-focused >.ng-select-container {
  border-color: transparent;
  border: 0px !important;
  box-shadow: none !important;
}
.ng-select.custom-drpdwn.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  box-shadow: none !important;
}

.ng-select.custom-drpdwn.ng-select-container .ng-value-container .ng-value {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}