div {
  overflow-x: hidden;
}

.chartTitle {
  font-family: Roboto !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 19px !important;
  text-align: left !important;
  color: #333333 !important;
}

.background {
  // background-image: url("../../assets/Images/dashboard_bg.jpg");
  // background-color: #d3d3d3;
  // position: relative;
}

.container {
  padding-left: 20px;
}

.flexbox-align-center {
  -ms-flex-align: center;
  align-items: center;
}

.flexbox-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.flexbox {
  display: -ms-flexbox;
  display: flex;
}

.height-full-page {
  height: 100vh;
}

.width-full {
  width: 100%;
}

.slite-design-system .margin-vertical-huge {
  margin-top: 60px;
  margin-bottom: 60px;
}

.margin-vertical-huge {
  margin-top: 60px;
  margin-bottom: 60px;
}

.flexbox-justify-start {
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flexbox-align-center {
  -ms-flex-align: center;
  align-items: center;
}

.flexbox-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.flexbox-centered {
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.flexbox {
  display: -ms-flexbox;
  display: flex;
}

.slite-design-system .margin-bottom-normal {
  margin-bottom: 12px;
}

.margin-bottom-normal {
  margin-bottom: 10px;
}

.center-text {
  text-align: center;
}

.font-weight-bold,
.font-weight-bold-on-hover:hover {
  font-weight: 700;
}

.font-size-largest {
  font-size: 26px;
}

.font-family-system {
  // font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.font-weight-medium,
.font-weight-medium-on-hover:hover {
  font-weight: 500;
}


/* =========================== *
    Dashboard CSS
/* =========================== */

.page-bar,
.page-content-white .page-bar {
  background-color: #eaeef3;
  position: relative;
  padding: 0 20px;
  margin: 10px -20px 0px;
}

.page-title {
  font-size: 24px;
}

.page-container-bg-solid .page-title,
.page-content-white .page-title {
  color: #666;
  margin-bottom: 15px;
  margin-top: 15px;
}

.page-title {
  padding: 0;
  font-size: 24px;
  letter-spacing: -1px;
  display: block;
  color: #666;
  margin: 5px 0 15px;
  font-weight: 300;
}

.page-content-white .page-bar .page-breadcrumb {
  padding: 22px 0;
}

.page-bar .page-breadcrumb {
  display: inline-block;
  float: left;
  padding: 8px;
  margin: 0;
  list-style: none;
  background-color: transparent;
}

.pull-right {
  float: right !important;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

ul,
ol {
  font-size: 14px;
  line-height: 24px;
}

.page-bar .page-breadcrumb>li {
  display: inline-block;
}

.page-content-white .page-bar .page-breadcrumb>li>i {
  color: #aaa;
}

.page-bar .page-breadcrumb>li>i {
  color: #aaa;
  font-size: 14px;
  text-shadow: none;
}

.page-content-white .page-bar .page-breadcrumb>li>i {
  color: #aaa;
}

.page-bar .page-breadcrumb>li>i {
  color: #aaa;
  font-size: 14px;
  text-shadow: none;
}


/* Dshabord header End  */

.state-overview {
  color: #fff;
}

.info-box {
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 100px;
  width: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 15px;
}

.bg-b-orange {
  background: linear-gradient(45deg, #fda582, #f7cf68);
}

.bg-b-purple {
  background: linear-gradient(45deg, #a52dd8, #e29bf1);
}

.bg-b-cyan {
  background: linear-gradient(45deg, #40ffed, #29b5af);
}

.bg-b-black {
  background: linear-gradient(45deg, #708090, #7c8ea0);
}

.info-box-icon.push-bottom {
  margin-top: 20px;
}

.info-box-icon {
  float: left;
  height: 70px;
  width: 70px;
  text-align: center;
  font-size: 30px;
  line-height: 74px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

.info-box-content {
  padding: 25px 10px 10px 0;
  margin-left: 90px;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

.info-box-text,
.progress-description {
  display: block;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}

.info-box-number {
  font-weight: 300;
  font-size: 21px;
}

.info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px 0;
  height: 2px;
}

// .progress {
//     border: 0;
//     background-image: none;
//     filter: none;
//     -webkit-box-shadow: none;
//     -moz-box-shadow: none;
//     box-shadow: none;
//     height: 8px;
//     border-radius: 0!important;
//     margin: 0;
// }
// .info-box .progress .progress-bar {
//     background: #fff;
// }
// .info-box .progress, .info-box .progress .progress-bar {
//     border-radius: 0;
// }
// .progress-bar {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     color: #fff;
//     text-align: center;
//     background-color: #007bff;
//     transition: width .6s ease;
// }

/* no of box end  */

.card {
  margin-bottom: 30px;
  border: 0px;
  border-radius: 0.625rem;
  box-shadow: 6px 11px 41px -28px #a99de7;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.25rem;
}

.card-head {
  border-radius: 2px 2px 0 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  padding: 2px;
  /* text-transform: uppercase; */
  color: #3a405b;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  min-height: 40px;
}

.card-head header {
  display: inline-block;
  padding: 11px 20px;
  vertical-align: middle;
  line-height: 17px;
  font-size: 20px;
}

.card-body:last-child {
  border-radius: 0 0 2px 2px;
}

.card-body {
  padding: 10px 24px 14px 24px;
  position: relative;
}

.notification-list.mail-list.not-list {
  height: 343px;
  overflow: hidden;
}

.noti-information .notification-list {
  padding: 0;
}

.mail-list {
  overflow-x: hidden;
  overflow-y: auto;
  background: #ffffff;
}

.full-width {
  float: left;
  width: 100%;
}

.text-center {
  text-align: center;
}

.p-t-10 {
  padding-top: 10px !important;
}

.full-width {
  width: 100% !important;
}

.text-center {
  text-align: center !important;
}


/* chart css end  */

.card {
  margin-bottom: 30px;
  border: 0px;
  border-radius: 0.625rem;
  box-shadow: 6px 11px 41px -28px #a99de7;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card .card-body {
  padding: 1.88rem 1.81rem;
}

.card-body {
  flex: 1 1 auto;
  /* padding: 1.25rem; */
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

table {
  border-collapse: collapse;
}

.card.mb-3 {
  margin-bottom: 30px !important;
}

.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all 0.2s;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(26, 54, 126, 0.125);
  border-radius: 0.25rem;
  border: 0 solid transparent !important;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0.625rem;
  height: 3.5rem;
}


/* .card-header, .card-title {
    text-transform: uppercase;
    color: rgba(13, 27, 62, 0.7);
    font-weight: bold;
    font-size: 0.88rem;
} */

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
  background-color: #fff;
  border-bottom: 1px solid rgba(26, 54, 126, 0.125);
}

.scroll-area-lg {
  height: 400px;
  overflow-x: hidden;
}

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.list-group-flush:first-child .list-group-item:first-child {
  border-top: 0;
}

.list-group-item:hover {
  z-index: initial;
}

.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.list-group-item:hover,
.list-group-item:focus {
  z-index: 1;
  text-decoration: none;
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  // background-color: #fff;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}

.todo-list-wrapper .todo-indicator {
  position: absolute;
  width: 4px;
  height: 60%;
  border-radius: 0.3rem;
  left: 0.625rem;
  top: 20%;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.bg-warning {
  background-color: #f7b924 !important;
}

.bg-warning {
  background-color: #f7b924 !important;
}

.bg-focus {
  background-color: #444054 !important;
}

.widget-content {
  padding: 1rem;
  flex-direction: row;
  align-items: center;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.p-0 {
  padding: 0 !important;
}

.widget-content .widget-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.todo-list-wrapper .custom-control,
.todo-list-wrapper input[checkbox] {
  margin-left: 0.625rem;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.32rem;
  padding-left: 1.5rem;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.widget-content .widget-content-left .widget-heading {
  opacity: 0.8;
  font-weight: bold;
  font-size: 13px;
  color: #1C1E24;
}

.badge {
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  min-width: 19px;
}

.badge-danger {
  color: #fff;
  background-color: #d92550;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.bg-primary {
  background-color: #3f6ad8 !important;
}

.badge-danger {
  color: #fff;
  background-color: #d92550;
}

.badge-info {
  color: #fff;
  background-color: #16aaff;
}

.badge-success {
  color: #fff;
  background-color: #3ac47d;
}

.bg-warning {
  background-color: #f7b924 !important;
}

.bg-focus {
  background-color: #444054 !important;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  width: op;
}

.widget-content .widget-content-left .widget-subheading {
  opacity: 0.5;
  font-size: 12px;
    font-weight: 400;
    color: #1C1E24;
}

.widgetfontcolor {
  color : #1C1E24 !important
}

.widget-content .widget-content-right.widget-content-actions {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

.widget-content .widget-content-right {
  margin-left: auto;
}

.card .card-footer {
  display: flex;
  align-items: center;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.text-right {
  text-align: right !important;
}

.d-block {
  display: block !important;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border-top: 1px solid rgba(26, 54, 126, 0.125);
}

.btn-link {
  font-weight: 400;
  color: #3f6ad8;
}


/* // header title chart  */

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.align-items-center {
  align-items: center !important;
}

.card .card-title {
  position: relative;
  font-weight: 600;
  margin-bottom: -2px !important;
  // margin-bottom: 10px;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.2;
  color: inherit;
  margin-top: 0;
  // font-family: "Nunito Sans",sans-serif;
}

.card .card-subtitle {
  font-weight: 300;
  margin-bottom: 10px;
  color: #808080;
  font-size: 14px;
  font-family: 'Roboto';
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

h5 {
  font-size: 1rem;
  line-height: 1.2;
}


/* // card title  */

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #3e5569;
}

table {
  border-collapse: collapse;
}

.border-0 {
  border: 0 !important;
}

.v-middle td,
.v-middle th {
  vertical-align: middle;
}

.no-wrap td,
.no-wrap th {
  white-space: nowrap;
}

.table td,
.table th {
  padding: 1rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
}

.d-flex {
  display: flex !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

img {
  vertical-align: middle;
  border-style: none;
}

.font-16 {
  font-size: 16px;
}

.font-medium {
  font-weight: 600;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.text-center {
  text-align: center !important;
}

.table th,
.table td {
  padding: 0.55rem;
  /* vertical-align: top;
    border-top: 1px solid #e9ecef; */
}


/* height: 30px !important;
    padding: 1px !important;
    height: 15px;
    font-size: 14px;
    font-weight: 600; */

.table th,
.table td {
  vertical-align: middle;
  box-sizing: border-box;
}

.table tr {
  font-size: 14px !important;
}

.table th,
.table td {
  padding: 0.55rem;
  /* vertical-align: top; */
  border-top: 1px solid #e9ecef;
}

.text-muted {
  color: #6c757d !important;
}

.widget-content {
  padding: 1rem;
  flex-direction: row;
  align-items: center;
}

.p-0 {
  padding: 0 !important;
}

.widget-content .widget-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.flex2 {
  flex: 2;
}

.widget-content .widget-content-left .widget-heading {
  opacity: 0.8;
  font-weight: bold;
}

.opacity-7 {
  opacity: 0.7 !important;
}

// .progress.progress-bar-xs {
//     height: 14px;
// }
// .progress {
//     display: flex;
//     height: 1rem;
//     overflow: hidden;
//     font-size: .75rem;
//     background-color: #e9ecef;
//     border-radius: .25rem;
// }
// .progress .progress-bar:last-child {
//     // border-top-right-radius: .25rem;
//     // border-bottom-right-radius: .25rem;
//     border-radius: 10px;
// }
.table th {
  border: 0px solid #333;
}

.skill {
  // margin-bottom: 35px;
  position: relative;
  overflow-x: hidden;
}

.skill>p {
  font-size: 18px;
  font-weight: 700;
  color: #1a1716;
  margin: 0;
}

.skill:before {
  width: 100%;
  height: 5px;
  content: "";
  display: block;
  position: absolute;
  background: #959595;
  bottom: 0;
}

.skill-bar {
  width: 100%;
  height: 5px;
  // background:#f4392f;
  display: block;
  position: relative;
}


/* SKILL 1 */

.skill1 {
  // width: 95%;
}

.skill-bar span {
  position: absolute;
  border-top: 5px solid #f4392f;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
}

.skill-bar {
  position: relative;
}

.skill1 .skill-count1 {
  right: 0;
}


/* // charts  */

.chartjs-render-monitor {
  width: 100% !important;
  height: 300px !important;
}

.div_center_align {
  text-align: center;
  padding-top: 1rem;
  font-size: 18px;
}

.faq {
  // padding: 60px 0;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  background: #edebdd;
  margin-bottom: 10px;
  //   border-radius: 10px;
  padding: 10px 40px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  left: -25px;
  top: 6px;
  transition: 1s;
}

.faq-title {
  text-align: center;
  font-size: 17px;
  border-bottom: 2px dashed #ffffff;
  margin-bottom: 30px;
  padding-bottom: 10px;
  color: #ffffff;
}

.faq .faq-list p {
  padding-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
}

.collapsed i.mdi.mdi-arrow-up {}

.collapsed i.mdi.mdi-arrow-up {
  transform: rotate(180deg);
}

.info-box-icon .material-icons {
  margin-top: 1.3rem !important;
}

h6.text-uppercase {
  letter-spacing: 0.08em;
}

.text-muted {
  color: #95aac9 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.375rem !important;
}

.h6,
h6 {
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.1;
}

.h2,
h2 {
  font-size: 1.25rem;
}

.card-header:first-child {
  border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
}

.card-header> :first-child {
  flex: 1;
}

h4 {
  font-size: 0.9375rem;
}

.mr-3,
.mx-3 {
  margin-right: 0.75rem !important;
}

.custom-switch {
  min-height: 1.5rem;
}

.custom-switch {
  padding-left: 3.5rem;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.40625rem;
  padding-left: 1.5rem;
}

.padding-card-body {
  padding: 2.95rem 1.81rem !important;
}

.avatar-img {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
  object-fit: cover;
}

.salary-nav-tabs {
  margin-bottom: -20px !important;
}

.card-header {
  padding: 1rem 1.5rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 1px solid #edf2f9;
}

.card-header> :first-child {
  flex: 1;
}

.card-header-title {
  margin-bottom: 0;
}

.small,
small {
  font-size: 0.8125rem;
  font-weight: 400;
}

a {
  color: #2c7be5;
  text-decoration: none;
  background-color: transparent;
}

.header-name h1 {
  color: #19233c;
}

.header-name p {
  color: #8492a6;
}

.header-name p>span {
  border-bottom: 1px solid #4c84ff;
}

.mr-b-0,
.mr-tb-0 {
  margin-bottom: 0rem !important;
}

.justify-content-center {
  justify-content: center !important;
}

.flex-column {
  flex-direction: column !important;
}

.d-flex {
  display: flex !important;
}

.widget-traffic-sources li {
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #e6ecf5;
  padding-top: 0.35714em;
  padding-bottom: 0.35714em;
}

.widget-traffic-sources li span {
  margin-right: 0.5rem;
}

.widget-traffic-sources li span {
  margin-right: 0.5rem;
}

.flex-1 {
  flex: 1 !important;
}

.shape-circle {
  display: inline-block;
  height: 0.7em;
  width: 0.7em;
  background: #4be1ab;
  vertical-align: middle;
  border-radius: 50px;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
  .overflow-hidden-desktop {
    overflow: hidden !important;
  }
}

@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}

.padding {
  padding: 5rem;
}

.accordion .card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion {
  // margin-bottom: .75rem;
  // box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
  // border-radius: .25rem;
  border: none;
}

.accordion {
  background-color: transparent;
  border: none;
  padding: 2rem;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.accordion * {
  font-weight: 400;
  font-size: 1rem;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.accordion a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  position: relative;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  padding-right: 1.5rem;
}

.accordion * {
  font-weight: 400;
  font-size: 1rem;
}

.accordion a[aria-expanded="false"]:before {
  content: "\f067";
}

.accordion a[aria-expanded="true"]:before {
  content: "\f068";
}

.accordion a:before {
  position: absolute;
  right: 7px;
  top: 0;
  font-size: 18px;
  display: block;
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-size: 0.756em;
  color: #405189;
}

.p-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.font-bold {
  font-weight: 600px !important;
  font-size: 15px;
}

.shape-circle1 {
  display: inline-block;
  height: 0.7em;
  width: 0.7em;
  background: #fff;
  vertical-align: middle;
  border-radius: 50px;
}

.Earn {
  background: #003f5c;
}

.Deduc {
  background: #7a5195;
}

.NetPay {
  background: #ffa600;
}

.IncomeTax {
  background: #ef5675;
}

.card-heder-title1 {
  color: #1c273c;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  // margin-bottom: 10px;
  letter-spacing: 0.2px;
  margin-top: 10px;
}

.card-body-top {
  display: flex;
  margin-bottom: 20px;
}

.card-body-top h6 {
  font-size: 18px;
}

.card-body-top label {
  font-size: 0.875rem;
}

.autoScroll {
  overflow: hidden;
}

.autoScroll:hover {
  overflow-y: scroll;
}

.ff {
  font-family: Open Sans, Segoe UI, Roboto, Helvetica Neue, sans-serif !important;
  // line-height: 1.2 !important;
  // display: flex;
  // color: #000;
  // height: auto !important;
  // width: auto !important;
  font-feature-settings: "tnum", "tnum";
  font-variant: tabular-nums;
  // background-image: url('./../../assets/Images/Skyline.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#u_0_v {
  width: 500px;
  margin: 0 auto;
}

.lightui1 {
  border: 1px solid;
  border-color: #d3d3d3;
  border-radius: 2px;
  padding: 20px;
  background: #ffffff;
}

.lightui1-shimmer {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #eae8e8;
  background-image: linear-gradient(to right, #d8d8d8 0%, #eae8e8 20%, #d8d8d8 40%, #d8d8d8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  height: 104px;
  position: relative;
}

.lightui1-shimmer div {
  background: #ffffff;
  height: 6px;
  left: 0;
  position: absolute;
  right: 0;
}

.lightui1b-shimmer {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #f0f0f0;
  background-image: linear-gradient(to right, #f0f0f0 0%, #d8d8d8 20%, #f0f0f0 40%, #f0f0f0 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  height: 104px;
  position: relative;
}

.lightui1b-shimmer div {
  background: #ffffff;
  height: 6px;
  left: 0;
  position: absolute;
  right: 0;
}

.lightui2 {
  border: 1px solid;
  border-color: #bdbdbd;
  border-radius: 2px;
  padding: 20px;
  background: #f0f0f0;
}

.lightui2-shimmer {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #d8d8d8;
  background-image: linear-gradient(to right, #d8d8d8 0%, #bdbdbd 20%, #d8d8d8 40%, #d8d8d8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  height: 104px;
  position: relative;
}

.lightui2-shimmer div {
  background: #f0f0f0;
  height: 6px;
  left: 0;
  position: absolute;
  right: 0;
}

.lightui2b-shimmer {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #bdbdbd;
  background-image: linear-gradient(to right, #bdbdbd 0%, #999999 20%, #bdbdbd 40%, #bdbdbd 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  height: 104px;
  position: relative;
}

.lightui2b-shimmer div {
  background: #f0f0f0;
  height: 6px;
  left: 0;
  position: absolute;
  right: 0;
}

._2iwo {
  height: 200px;
  padding: 12px;
}

.__z8 {
  height: 150px;
  padding: 12px;
}

div._2iwr {
  height: 40px;
  left: 40px;
  right: auto;
  top: 0;
  width: 8px;
}

div._2iws {
  height: 8px;
  left: 48px;
  top: 0;
}

div._2iwt {
  left: 136px;
  top: 8px;
}

div._2iwu {
  height: 12px;
  left: 48px;
  top: 14px;
}

div._2iwv {
  left: 100px;
  top: 26px;
}

div._2iww {
  height: 10px;
  left: 48px;
  top: 32px;
}

div._2iwx {
  height: 20px;
  top: 40px;
}

div._2iwy {
  left: 410px;
  top: 60px;
}

div._2iwz {
  height: 13px;
  top: 66px;
}

div._2iw- {
  left: 440px;
  top: 79px;
}

div._2iw_ {
  height: 13px;
  top: 85px;
}

div._2ix0 {
  left: 178px;
  top: 98px;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@-webkit-keyframes prideShimmer {
  from {
    background-position: top left;
  }

  to {
    background-position: top right;
  }
}

._4-u5 {
  background-color: #ffffff;
}

._4-u7 {
  background-color: #ffffff;
}

._57d8 {
  background-color: #ffffff;
}

._4-u8 {
  background-color: #ffffff;
}

.flex-container {
  display: flex;
}

.div1 {
  border-style: solid;
  flex-grow: 1;
}

.div2 {
  border-style: solid;
  flex-grow: 1;
}

.div3 {
  width: 18px;
}

///@at-root
.center-spinner {
  display: block;
  margin: 0 auto;
}

.vertical-huge {
  text-align: center;
  vertical-align: middle;
  //   line-height: 14rem;
  font-weight: 600;
}

.avatar-45 {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.light-candidate {
  background-color: #c3fae8;
}

.defaultLayout svg {
  touch-action: none;
}

.defaultLayout svg {
  vertical-align: middle;
  overflow: hidden;
}

.fill-candidate {
  fill: #12b886;
}

.light-report {
  background-color: #e3edff;
}

.fill-report {
  fill: #104ba2;
}

.boardslist {
  // &::-webkit-scrollbar {
  //  width: 0.2em;
  //  height: 0.2em;
  //  color: #000;
  // }
  // &::-webkit-scrollbar-thumb {
  //  background-color: rgba(255,255,255,.1);
  //  border-radius: 3px;
  //  &:hover {
  //   background: rgba(255,255,255,.2);
  //  }
  // }
}

.te:hover {
  overflow-y: scroll !important;
}

.fill-contact {
  fill: #e64980;
}

.light-contact {
  background-color: #ffdeeb;
}

///
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.symbol {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.55rem;
}

.bg-gray-100 {
  background-color: #f3f6f9 !important;
}

.mr-4,
.mx-4 {
  margin-right: 1rem !important;
}

.symbol.symbol-40 .symbol-label {
  width: 40px;
  height: 40px;
}

// @media (min-width: 1400px)
// .symbol .symbol-label {
//   width: 50px;
//   height: 50px;
// }
// @media (min-width: 1200px)
// .symbol .symbol-label {
//   width: 50px;
//   height: 50px;
// }
// @media (min-width: 992px)
// .symbol .symbol-label {
//   width: 50px;
//   height: 50px;
// }
// @media (min-width: 768px)
// .symbol .symbol-label {
//   width: 50px;
//   height: 50px;
// }
// @media (min-width: 576px)
// .symbol .symbol-label {
//   width: 50px;
//   height: 50px;
// }
.symbol .symbol-label {
  width: 50px;
  height: 50px;
}

.symbol .symbol-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 500;
  color: #3f4254;
  background-color: #f3f6f9;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0.55rem;
}

.h-75 {
  height: 75% !important;
}

.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}

img {
  vertical-align: middle;
  border-style: none;
}

.symbol.symbol-40 .symbol-badge {
  width: 12px;
  height: 12px;
  top: -6px;
  right: -6px;
}

// @media (min-width: 1400px)
// .symbol .symbol-badge {
//   width: 12px;
//   height: 12px;
//   top: -6px;
//   right: -6px;
// }
// @media (min-width: 1200px)
// .symbol .symbol-badge {
//   width: 12px;
//   height: 12px;
//   top: -6px;
//   right: -6px;
// }
// @media (min-width: 992px)
// .symbol .symbol-badge {
//   width: 12px;
//   height: 12px;
//   top: -6px;
//   right: -6px;
// }
// @media (min-width: 768px)
// .symbol .symbol-badge {
//   width: 12px;
//   height: 12px;
//   top: -6px;
//   right: -6px;
// }
// @media (min-width: 576px)
// .symbol .symbol-badge {
//   width: 12px;
//   height: 12px;
//   top: -6px;
//   right: -6px;
// }
.symbol .symbol-badge {
  width: 12px;
  height: 12px;
  top: -6px;
  right: -6px;
}

.symbol .symbol-badge {
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 100%;
  top: 0;
  right: 0;
}

.bg-success {
  background-color: #1bc5bd !important;
}

i {
  font-size: 1.25rem;
  color: #b5b5c3;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.text-dark-75 {
  color: #3f4254 !important;
}

.font-weight-bolder {
  font-weight: 600 !important;
}

.text-muted {
  color: #b5b5c3 !important;
}

.card.card-custom.card-stretch.gutter-b {
  height: calc(100% - 25px);
}

.card.card-custom.card-stretch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.card.card-custom {
  // -webkit-box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
  // box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
  border: 0;
}

.gutter-b {
  margin-bottom: 25px;

}

.card {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border-radius: 0.42rem;
}

.card.card-custom>.card-body {
  padding: 0.5rem 1rem !important;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  // padding: 2.25rem;
}

.carousel {
  position: relative;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.font-size-h6 {
  font-size: 1.17rem !important;
}

.p-0 {
  padding: 0 !important;
}

.btn.btn-icon.btn-sm,
.btn-group-sm>.btn.btn-icon {
  height: calc(1.35em + 1.1rem + 2px);
  width: calc(1.35em + 1.1rem + 2px);
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn.btn-light {
  color: #7e8299;
  background-color: #f3f6f9;
  border-color: #f3f6f9;
}

.btn.btn-icon {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}

.btn.btn-icon .svg-icon {
  margin: 0;
  padding: 0;
}

.pt-9,
.py-9 {
  padding-top: 1.25rem !important;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.flex-grow-1 {
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.font-size-h4 {
  font-size: 1rem !important;
}

.font-size-h2 {
  font-size: 1.5rem !important;
}

.text-primary {
  color: #3699ff !important;
}

.font-weight-bolder {
  font-weight: 600 !important;
}

.pt-3,
.py-3 {
  margin-top: -25px !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.btn-sm,
.btn-group-sm>.btn {
  padding: 0.55rem 0.75rem;
  font-size: 0.925rem;
  line-height: 1.35;
  border-radius: 0.42rem;
}

.px-6 {
  padding-right: 1.5rem !important;
}

.btn.btn-primary {
  color: #ffffff;
  background-color: #3699ff;
  border-color: #3699ff;
}

element.style {}

.font-size-h6 {
  font-size: 1rem !important;
}

.text-muted {
  color: #b5b5c3 !important;
}

.text-muted {
  color: #b5b5c3 !important;
}

.font-weight-bolder {
  font-weight: 600 !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.card.card-custom>.card-header .card-title .card-label {
  margin: 0 0.75rem 0 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.font-size-lg {
  font-size: 1rem;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.table.table-vertical-center td {
  vertical-align: middle;
}

.symbol {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.42rem;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.symbol.symbol-45 .symbol-label {
  width: 45px;
  height: 45px;
}

.symbol.symbol-light .symbol-label {
  background-color: #f3f6f9;
  color: #7e8299;
}

.h-50 {
  height: 50% !important;
}

.font-size-lg {
  font-size: 1.08rem;
}

.d-block {
  display: block !important;
}

.tab-content>.tab-pane {
  display: none;
}

.fade:not(.show) {
  opacity: 0;
}

.scroll {
  position: relative;
  overflow: hidden;
}

.mb-15,
.my-15 {
  margin-bottom: 3.75rem !important;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.timeline.timeline-5 .timeline-items {
  margin: 0;
  padding: 0;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-media {
  position: absolute;
  top: 0;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  line-height: 0;
}

.bg-light-primary {
  background-color: #e1f0ff !important;
}

.navi {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
}

.navi .navi-item {
  padding: 0;
  display: block;
  list-style: none;
}

.navi.navi-spacer-x-0 .navi-item .navi-link {
  padding-left: 0;
  padding-right: 0;
}

.navi .navi-item .navi-link {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  color: #3f4254;
}

.navi .navi-item .navi-link {
  font-size: 1rem;
}

.navi .navi-item .navi-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
}

.rounded {
  border-radius: 0.42rem !important;
}

.symbol {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.42rem;
}

.navi .navi-item .navi-link .navi-text {
  color: #3f4254;
}

.navi .navi-item .navi-link .navi-text {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.navi .navi-item .navi-link .navi-text {
  font-size: 1rem;
}

.navi .navi-item .navi-link .navi-text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.font-size-lg {
  font-size: 1.08rem;
}

.equel-grid {
  display: flex;
  align-items: stretch;
}

.equel-grid .grid {
  width: 100%;
  min-width: 100%;
}

.grid {
  background: #fff;
  border-radius: 6px;
  // box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%);
  margin-bottom: 1.5rem;
  border: 1px solid rgba(238, 238, 238, 0.75);
}

.grid-body {
  padding: 10px 5px 10px;
}

.profile-img.img-rounded {
  border-radius: 100%;
}

// @media (min-width: 1200px)
// .profile-img.no-avatar {
//   font-size: 14px;
// }
.profile-img.no-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.profile-img.bg-inverse-primary {
  color: #4d8af0;
}

.bg-inverse-primary {
  background: rgba(77, 138, 240, 0.2);
}

.profile-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.font-weight-medium {
  letter-spacing: 1px;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.text-gray {
  color: #565656;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

img.bg-inverse-danger {
  color: #ff5f66;
}

.profile-img.bg-inverse-success {
  color: #00e093;
}

.bg-inverse-success {
  background: rgba(0, 224, 147, 0.2);
}

.profile-img.bg-inverse-success {
  color: #00e093;
}

.bg-inverse-danger {
  background: rgba(255, 95, 102, 0.2);
}

.bullet.bullet-bar {
  width: 4px;
  height: auto;
}

.bullet {
  display: inline-block;
  background-color: #e4e6ef;
  width: 10px;
  height: 2px;
  border-radius: 2rem;
}

.bg-light-primary {
  background-color: #d7f9ef !important;
}

.flex-grow-1 {
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.font-size-lg {
  font-size: 1.08rem;
}

.grid-box {
  box-shadow: 0 0.46875rem 2.1875rem #04091408, 0 0.9375rem 1.40625rem #04091408, 0 0.25rem 0.53125rem #0409140d, 0 0.125rem 0.1875rem #04091408 !important;
}

.progress.blue .progress-bar {
  border-color: #049dff;
}

.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}

.progress.yellow .progress-bar {
  border-color: #fdba04;
}

.progress.yellow .progress-left .progress-bar {
  animation: loading-3 1s linear forwards 1.8s;
}

.progress.pink .progress-bar {
  border-color: #ed687c;
}

.progress.pink .progress-left .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s;
}

.progress.green .progress-bar {
  border-color: #1abc9c;
}

$borderWidth: 5px;
$animationTime: .5s;
$border-color-default: #efefef;
$border-color-fill: #1abc9c;
$border-color-fill1: #ed687c;
$size: 100px;
$howManySteps: 100; //this needs to be even. 

.progress {
  width: $size;
  height: $size;
  line-height: $size;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: $borderWidth solid $border-color-default;
    position: absolute;
    top: 0;
    left: 0;
  }

  >span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .progress-left {
    left: 0;
  }

  .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: $borderWidth;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: $border-color-fill;
  }

  .progress-bar1 {
    width: 100%;
    height: 100%;
    background: none;
    border-width: $borderWidth;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: $border-color-fill1 !important;
  }

  .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: ($size/2);
    ;
    border-bottom-right-radius: ($size/2);
    ;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    //animation: loading-2 1.5s linear forwards 1.8s;
  }

  .progress-left .progress-bar1 {
    left: 100%;
    border-top-right-radius: ($size/2);
    ;
    border-bottom-right-radius: ($size/2);
    ;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    //animation: loading-2 1.5s linear forwards 1.8s;
  }

  .progress-right {
    right: 0;

    .progress-bar {
      left: -100%;
      border-top-left-radius: ($size/2);
      ;
      border-bottom-left-radius: ($size/2);
      ;
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
      //animation: loading-1 1.8s linear forwards;
    }

    .progress-bar1 {
      left: -100%;
      border-top-left-radius: ($size/2);
      ;
      border-bottom-left-radius: ($size/2);
      ;
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
      //animation: loading-1 1.8s linear forwards;
    }
  }

  .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 21px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: 600;

    div {
      //margin-top: 10px;
    }

    span {
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}


/* This for loop creates the necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/

@for $i from 1 through $howManySteps {
  $stepName: (
    $i*(100 / $howManySteps)
  );

//animation only the left side if below 50%
@if $i <=($howManySteps/2) {
  .progress[data-percentage="#{$stepName}"] {
    .progress-right .progress-bar {
      animation: loading-#{$i} $animationTime linear forwards;
    }

    .progress-left .progress-bar {
      animation: 0;
    }

    .progress-right .progress-bar1 {
      animation: loading-#{$i} $animationTime linear forwards;
    }

    .progress-left .progress-bar1 {
      animation: 0;
    }
  }
}

//animation only the right side if above 50%
@if $i>($howManySteps/2) {
  .progress[data-percentage="#{$stepName}"] {
    .progress-right .progress-bar {
      animation: loading-#{($howManySteps/2)} $animationTime linear forwards; //set the animation to longest animation
    }

    .progress-left .progress-bar {
      animation: loading-#{$i - ($howManySteps/2)} $animationTime linear forwards $animationTime;
    }

    .progress-right .progress-bar1 {
      animation: loading-#{($howManySteps/2)} $animationTime linear forwards; //set the animation to longest animation
    }

    .progress-left .progress-bar1 {
      animation: loading-#{$i - ($howManySteps/2)} $animationTime linear forwards $animationTime;
    }
  }
}
}

//animation
@for $i from 1 through ($howManySteps/2) {
  $degrees: (
    180/($howManySteps/2)
  );
$degrees: (
  $degrees*$i
);

@keyframes loading-#{$i} {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate($degrees);
    transform: rotate(#{$degrees}deg);
  }
}
}

.skeleton {
  min-height: 15px;
  border-radius: 4px;
}

.skeleton {
  background-color: #e2e5e7;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  -webkit-animation: shine 1s ease infinite;
  animation: shine 1s ease infinite;
  
}

// client dashboard
.stat {
  background: #e0eafc;
  border-radius: 50%;
  height: 48px;
  padding: 0.75rem;
  width: 48px;
}

.badge-warning-lighten {
  color: #ffbc00;
  background-color: rgba(255, 188, 0, .18);
}

.badge-danger-lighten {
  color: #fa5c7c;
  background-color: rgba(250, 92, 124, .18);
}

.badge-success-lighten {
  color: #0acf97;
  background-color: rgba(10, 207, 151, .18);
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: var(--ct-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge {
  vertical-align: middle;
}

.info-box1 {}


.info-box1 {

  min-height: 85px;
  width: 100%;
  padding: 15px;
  box-shadow: none;
  border-radius: 5px;
}

.bg-b-temp {
  background: #FFE9E1;
  color: black;
}

.bg-b-nh {
  background: #DEF6F5;
  color: black;
}

.bg-b-sr {
  background: #E2ECFF;
  color: black;
}

.bg-b-exits {
  background: #FCE1F9;
  color: black;
}

.customheight {
  height: 56px;
  float: right;
}

.text-additionalcolor {
  font-size: 13px;
    color: #808080;
}

.time-sheet-card {
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 100px;
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 0px #00000029;
  -webkit-box-shadow: 0px 1px 4px 0px #00000029;
  margin-bottom: 20px;
}

.subheader {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.bg-blue{
  background-color: #EFF4FF;
  border-radius: 8px;
  height: 170px;
}

.bg-dark-blue{
  background-color: #D1DFFF !important;
  border-radius: 0 !important;
}

.profile-avatar-bg{
  width: 5rem;
  height: 5rem;
  background-color: #D1DFFF;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle-header {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #6A6B74;
}

.title-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  color: #3F4254;
}

.value-font {
  font-size: 22px;
  font-weight: 500;
  line-height: 25.78px;
  text-align: left;
  color: #333333;
}

.text-font {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  text-align: left;
  color: #808080;
  text-transform: capitalize;
}

.label-font {
  font-size: 13px;
  font-weight: 500;
  line-height: 15.23px;
  text-align: left;
  color: #333333;
  text-transform: capitalize;
}


