.page-footer {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: #fafafa;
    color: #111111;
}

.page-footer a {
    /* background: #2A6A92;
    color: white; */
}