.headerTitle {
    font-size: 18px;
    font-weight: 500;
    color: #1c273c;
    line-height: 21px;
    margin-bottom: 3px;
}

.custom-table tr th{
    background-color: #FFFF;
    color: #333333 !important;
    font-size: 13px  !important;
    font-weight: 600 !important;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    border: 0 !important;
  }
  
  .custom-table tbody tr {
    border: 1px solid #EBEBEB;
  }
  
  .custom-table tbody tr td {
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 15px;
    letter-spacing: 0em;
    padding-top: 1.3rem!important;
    width: inherit;
    text-align: center;
    border: 0 !important;
  }