.swal-wide {
    width: 850px;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.8rem 0.8rem;
    border-bottom: 0px solid #dee2e6;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    background: #f3f2f2;
}

.modal-head-custom {
    text-transform: uppercase;
    font-weight: 700;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.8rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.tooltip.tooltip-top,
.tooltip.tooltip-bottom,
.tooltip.tooltip-left,
.tooltip.tooltip-right {
    z-index: 100000;
}

.swal-wide {
    width: 850px;
}

.page-wrapper {
    overflow-x: hidden !important;
}

.img-height {
    height: 25px;
    top: 10px;
    margin: auto;
}

.al-list {
    width: 100%;
    /* padding: 10px; */
}

.btn-label-danger {
    background-color: rgba(88, 103, 221, .1);
    color: #f53636;
    cursor: pointer!important;
}

.btn-label-success {
    background-color: rgba(88, 103, 221, .1);
    color: #0a609eeb;
    cursor: pointer!important;
}

.btn-sm {
    padding: .5rem 1rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-label-danger:hover {
    background-color: #f53636;
    color: #fff;
}

.btn-label-success:hover {
    background-color: #0a609eeb;
    color: #fff;
}

.btn-custom_preview {
    padding: 0.2rem 1rem;
    font-size: .75em;
    line-height: 1.5;
    border-radius: .2rem;
}


/* .modal-footer {
    padding: 0.5rem !important;
} */

.iframe-container {
    overflow: hidden;
    padding-top: 45.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 1rem;
}

.iframe-container .mdi-cached {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    max-height: 14px;
}

.wrapper {
    background-color: #fff;
    border-radius: 1rem;
    margin: 0 auto;
    max-width: 1020px;
    padding: 2rem;
    width: 100%;
}

.modal-body {
    overflow: hidden !important;
    background-color: #fff;
    border-radius: 1rem;
    margin: 0 auto;
    /* max-width: 1020px; */
    padding: 1rem;
    width: 100%;
}

@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 1000px !important;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px !important;
        margin: 1.75rem auto;
    }
}

.h6-c {
    font-weight: 600;
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
}

.imgc {
    max-height: 100% !important;
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    opacity: 0.2;
}

.btn-default {
    color: #324061!important;
    background-color: #fff;
    border-color: #d3d9e6;
}

.btn-default:hover {
    color: #324061;
    background-color: #f7f9fc;
    border-color: #d3d9e6;
    color: #0a609eeb !important;
}

.btn-default:focus {
    outline: 0!important;
    color: #0a609eeb;
}

.btn-danger {
    color: #fff!important;
    background-color: #f53636;
    border-color: #f53636;
}
.paddinglefttenunill {
    padding: 0px;
    margin-left: 10px;
    width: 194px;
}
.paddinglefttenuyes {
    padding: 0px;
    margin-left: 20px;
    width: 194px;
}


.modal .modal-dialog-aside {
 
  height: 100%;
  margin: 0;
  transform: translate(0);
  transition: transform .2s;
}

.modal .modal-dialog-aside .modal-content {
  height: inherit;
  border: 0;
  border-radius: 0;
}

.modal .modal-dialog-aside .modal-content .modal-body {
  overflow-y: auto
}

.modal.fixed-left .modal-dialog-aside {
  margin-left: auto;
  transform: translateX(100%);
}

.modal.fixed-right .modal-dialog-aside {
  margin-right: auto;
  transform: translateX(-100%);
}

.modal.show .modal-dialog-aside {
  transform: translateX(0);
}
