.header{
    color: #464646 !important;
    display: block !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}

.text-label {
    color: #464646 !important;
    display: block !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}
