#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: block;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(60, 138, 255, 0.1);
    /* Black background with opacity */
    opacity: 0.5;
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: progress;
    /* Add a pointer on hover */
}

.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: #0a609eeb;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-eclipse {
    position: relative;
}

.lds-eclipse div {
    position: absolute;
    -webkit-animation: lds-eclipse 0.5s linear infinite;
    animation: lds-eclipse 0.5s linear infinite;
    width: 80px;
    height: 80px;
    top: 60px;
    left: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #0a609eeb;
    -webkit-transform-origin: 40px 42px;
    transform-origin: 40px 42px;
}

.lds-eclipse {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}