<!-- <div id="overlay"> -->
<!-- <div class="lds-css ng-scope">
    <div style="width:100%;height:100%" class="lds-eclipse">
        <div></div>
    </div>
</div> -->
<!-- </div> -->

<!-- <div class="text-center ma-5">
    <button class="btn btn-default p-l-30 p-r-30" type="button" disabled>
      <span class="spinner-border spinner-border-sm m-r-10 primary-color" role="status"
          aria-hidden="true"></span>
      Please wait...
  </button>
</div> -->
<!-- <button class="btn btn-default p-l-30 p-r-30" type="button" disabled>
                <span class="spinner-border spinner-border-sm m-r-10 primary-color" role="status"
                    aria-hidden="true"></span>
                Please wait...
            </button> -->
<div class="text-center ma-5">

    <!-- <ngx-spinner bdOpacity=0.9 bdColor="rgba(0,147,255,0.09)" size="medium" color="#0a609eeb" type="ball-scale-ripple-multiple" [fullScreen]="true">
        <p style="color: #FFF;
        font-size: 18px;
        font-weight: 600;"> Please wait... </p>
     
    </ngx-spinner> -->


    <ngx-spinner bdOpacity=0.9 bdColor="rgba(0,147,255,0.09)" size="medium" color="#0a609eeb" type="square-spin" [fullScreen]="true">
        <p style="color: #0a609eeb"> Loading... </p>
    </ngx-spinner>

</div>