.page-wrapper {
    background-image: url("../../../../assets/Images/h3-slide-1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.thumb-md {
    height: 40px;
    width: 40px;
    font-size: 14px;
    font-weight: 700;
}
.m-1 {
    margin: 1px !important;
}
.offertext {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 5px;
}
.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}

.media-body {
    -ms-flex: 1;
    flex: 1;
}

.portlet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
    background-color: transparent;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
}

.widget__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 1rem;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.portlet__space-y {
    padding-top: 25px!important;
    padding-bottom: 25px!important;
}

.portlet__space-x {
    padding-left: 25px!important;
    padding-right: 25px!important;
}

.widget__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.widget__info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.widget__info .widget__desc {
    font-size: 1rem;
    color: #74788d;
    padding-bottom: .5rem;
    font-weight: 500;
    display: block;
}

.widget__info .widget__value {
    font-size: 1.4rem;
    font-weight: 600;
    color: #595d6e;
    display: block;
}

.btn-label-danger {
    background-color: rgba(88, 103, 221, .1);
    color: #5867dd;
    cursor: pointer!important;
}

.btn-label-success {
    background-color: rgba(88, 103, 221, .1);
    color: #5867dd;
    cursor: pointer!important;
}

.btn-sm {
    padding: .5rem 1rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-label-danger:hover {
    background-color: #5867dd;
    color: #fff;
}

.btn-label-success:hover {
    background-color: #5867dd;
    color: #fff;
}

#footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* // close button css start */

.m-l-n-xxxl {
    margin-left: -65px;
}

.m-t-n-sm {
    margin-top: -50px;
}

.btn-icon {
    padding: 0 !important;
    text-align: center;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chrome-back-btn {
    background: #FFF;
    border-radius: 5px !important;
    line-height: 34px;
    font-size: 10px;
    color: #858fa6;
    transition: all .5s ease-out;
    border: 1px solid #858fa6;
}


/* // close button css */

.document_table_tr {
    background: #f0f7ff;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
}

.document_table_docName {
    font-size: 14px;
    line-height: 15px;
}

.page-links {
    margin-bottom: 14px;
    margin-left: 50px;
}

.margin-size {
    margin: 4rem 10rem 0rem 10rem;
}
.margin-size-zero{
    margin: rem 0rem 0rem 0rem;
}