.table-sticky>thead>tr>th,
        .table-sticky>thead>tr>td {
           
            top: 0px;
            position: sticky;
        }
        
        .table-height {
           
            display: block;
            overflow: auto;
            width: 100%;
        }
        .table-sticky>thead th {
          background-color: rgb(199 199 199) !important;
        }


        .Earning {
          color: rgb(112, 112, 233);
        }
    
        .Deductions {
          color: rgb(6, 236, 167);
        }
    
        .OnCost {
          color: rgb(28, 173, 184);
        }
    
        .Total {
          color: rgb(89, 153, 89);
          font-weight: bold;
        }
    
        .Other {
          color: rgb(241, 140, 245)
        }
        .subTotal{
          font-weight: bold;
        }
        .GrossDedn{
          color: rgb(240, 49, 49)
        }