.fbp-history-table {
  background-color: transparent;
}

.fbp-history-table-header {
    background: #f0f7ff;
    border-right: 1px solid #f0f7ff;
    border-left: 1px solid #f0f7ff;
    border-top: 2px solid #f0f7ff;
}

.fbp-history-table-header tr {
  border-right: 1px solid #f0f7ff;
  border-left: 1px solid #f0f7ff;
  border-top: 1px solid #f0f7ff;
}

.fbp-history-table-header tr th {
  background-color: transparent;
  color: #333333 !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  border: 0 !important;
}

.fbp-history-table-body {
  background: #fff;
  border: 1px solid #959595;
}

.fbp-history-table-body tr {
  border: 0 !important;
}

.fbp-history-table-body tr td {
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 12px;
  letter-spacing: 0em;
  padding-top: 1em !important;
  padding-right: 1em !important;
  padding-bottom: 0 !important;
  text-align: left;
  border: 0 !important;
}

.fbp-history-table-body tr td > button {
  border: 0 !important;
  padding: 0 !important;
}

.fbp-history-table-body tr td button > i {
  color: #1d6ca6;
}
